

<main class="rbt-main-wrapper">
    <!-- Start Banner Area -->
    <div class="slider-area rbt-banner-10 height-350 bg_image bg_image--11" data-black-overlay="5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner text-center ptb--50">

                        <h1 class="title display-one text-white">"India's most practical, experienced, down to earth, no imaginary talk platform, beyond Google knowledge."</h1>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner Area -->
    <!-- Start About Area  -->
    <div class="rbt-about-area bg-color-white rbt-section-gapTop pb_md--80 pb_sm--80 about-style-1">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <div class="thumbnail-wrapper">
                        <div class="thumbnail image-1">
                            <img data-parallax='{"x": 0, "y": -20}' src="~/Content/assets/images/vtk13.png" alt="Education Images">
                        </div>
                        <div class="thumbnail image-2 d-none d-xl-block">
                            <img data-parallax='{"x": 0, "y": 60}' src="~/Content/assets/images/thm.png" alt="Education Images">
                        </div>
                        <div class="thumbnail image-3 d-none d-md-block">
                            <img data-parallax='{"x": 0, "y": 80}' src="~/Content/assets/images/vtk12.png" alt="Education Images">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="inner pl--50 pl_sm--0 pl_md--0">
                        <div class="section-title text-start">
                            <span class="subtitle bg-coral-opacity">Know About Us</span>
                            <h2 class="title">"VitKund is India's fastest growing and expanding platform.</h2>
                        </div>

                        <p class="description mt--30">Vitkund Enterprises is a leading and dedicated platform to provide expert guidance and support for individuals and businesses in various domains. Our experienced team offers strategic advice, mentorship, and practical solutions to help clients navigate the complex world of business, whether it's starting a new venture, optimizing existing operations, or expanding into new markets. With a proven track record of success, we empower our clients to make informed decisions and achieve their business goals.</p>

                        <!-- Start Feature List  -->

                        <div class="rbt-feature-wrapper mt--20 ml_dec_20">
                            <div class="rbt-feature feature-style-2 rbt-radius">
                                <div class="icon bg-pink-opacity">
                                    <i class="feather-heart"></i>
                                </div>
                                <div class="feature-content">
                                    <h6 class="feature-title">Purpose</h6>
                                    <p class="feature-description">"At Vitkund, our purpose is to empower individuals and businesses with the knowledge and tools they need to thrive in their respective industries. We aim to be a guiding light, helping our clients navigate the complexities of the business world."</p>
                                </div>
                            </div>

                            <!--   <div class="rbt-feature feature-style-2 rbt-radius">
                                  <div class="icon bg-primary-opacity">
                                      <i class="feather-book"></i>
                                  </div>
                                  <div class="feature-content">
                                      <h6 class="feature-title">Vision</h6>
                                      <p class="feature-description">"Our vision is to create a world where every entrepreneur, from startups to seasoned professionals, can confidently pursue their business ambitions. We envision a community of informed and empowered individuals, driving innovation and success in various industries with the guidance of Vit Kund."</p>
                                  </div>
                              </div> -->
                        </div>

                        <!-- End Feature List  -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Area  -->
    <!-- Start Button Area  -->
    <div class="rbt-video-area bg-color-extra2 rbt-section-gap" id="about">
        <div class="container">
            <div class="row g-5 align-items-center">
                <h4 class="title" style="margin-bottom:5px;">Vision</h4>

                <p class="description" style="margin-top: 5px; margin-bottom: 5px;">"Our vision is to create a world where every entrepreneur, from startups to seasoned professionals, can confidently pursue their business ambitions. We envision a community of informed and empowered individuals, driving innovation and success in various industries with the guidance of Vit Kund."</p>

                <div class="col-lg-6">
                    <div class="video-popup-wrapper">
                        <img class="w-100 rbt-radius" src="~/Content/assets/images/videos/intro.png" alt="Video Images">
                        <a class="rbt-btn rounded-player popup-video position-to-top rbtplayer" href="~/Content/assets/images/videos/vitkund-intro.mp4">
                            <span><i class="feather-play"></i></span>
                        </a>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="inner pl--50 pl_lg--0 pl_md--0 pl_sm--0">
                        <div class="section-title text-start">
                            <div class="rbt-feature-wrapper">
                                <div class="rbt-feature feature-style-1 align-items-center">
                                    <div class="icon bg-pink-opacity">
                                        <i class="feather-check"></i>
                                    </div>
                                    <div class="feature-content">
                                        <h6 class="feature-title">We want to make complete Entrepreneur</h6>
                                    </div>
                                </div>

                                <div class="rbt-feature feature-style-1 align-items-center">
                                    <div class="icon bg-pink-opacity">
                                        <i class="feather-check"></i>
                                    </div>
                                    <div class="feature-content">
                                        <h6 class="feature-title">We support Make in India campaign.</h6>
                                    </div>
                                </div>

                                <div class="rbt-feature feature-style-1 align-items-center">
                                    <div class="icon bg-pink-opacity">
                                        <i class="feather-check"></i>
                                    </div>
                                    <div class="feature-content">
                                        <h6 class="feature-title">We are aiming 5 Trillion Economy.</h6>
                                    </div>
                                </div>

                                <div class="rbt-feature feature-style-1 align-items-center">
                                    <div class="icon bg-pink-opacity">
                                        <i class="feather-check"></i>
                                    </div>
                                    <div class="feature-content">
                                        <h6 class="feature-title">On every enrollment we contribute to a Child's Education.</h6>
                                    </div>
                                </div>

                                <div class="rbt-feature feature-style-1 align-items-center">
                                    <div class="icon bg-pink-opacity">
                                        <i class="feather-check"></i>
                                    </div>
                                    <div class="feature-content">
                                        <h6 class="feature-title">We support Vocal for Local.</h6>
                                    </div>
                                </div>
                                <div class="rbt-feature feature-style-1 align-items-center">
                                    <div class="icon bg-pink-opacity">
                                        <i class="feather-check"></i>
                                    </div>
                                    <div class="feature-content">
                                        <h6 class="feature-title">We support विकसित भारत अभियान</h6>
                                    </div>
                                </div>
                                <div class="rbt-feature feature-style-1 align-items-center">
                                    <div class="icon bg-pink-opacity">
                                        <i class="feather-check"></i>
                                    </div>
                                    <div class="feature-content">
                                        <h6 class="feature-title">बेरोजगारी से रोजगार की ओर</h6>
                                    </div>
                                </div>
                                <div class="rbt-feature feature-style-1 align-items-center">
                                    <div class="icon bg-pink-opacity">
                                        <i class="feather-check"></i>
                                    </div>
                                    <div class="feature-content">
                                        <h6 class="feature-title">हमारा सपना हर घर हो कारोबार</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Button Area  -->


    <div class="rbt-feature-box  bg-color-white rbt-section-gap">
        <div class="container">
            <div class="row g-5">

                <!-- Start Feture Box  -->
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title">
                                <h4 class="title mb--20">Key Features</h4>
                            </div>
                        </div>
                        <ul class="rbt-list-style-1">
                            <li><i class="feather-check"></i>Experienced & Practical Mentor</li>
                            <li><i class="feather-check"></i>Trending Business Ideas & Skills Training</li>
                            <li><i class="feather-check"></i>Apart from Google knowledge.</li>
                            <li><i class="feather-check"></i>The most practical course on earth.</li>
                            <li><i class="feather-check"></i>Not bookish knowledge, own experience material.</li>
                            <li><i class="feather-check"></i>Create businessmen in your own language and in your own way.</li>
                            <li><i class="feather-check"></i>SWOT Analysis</li>
                        </ul>
                    </div>
                </div>
                <!-- End Feture Box  -->
                <!-- Start Feture Box  -->
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title">
                                <h4 class="title mb--20">Business Model</h4>
                            </div>
                        </div>
                        <ul class="rbt-list-style-1">
                            <li><i class="feather-check"></i> <a href="/vitkund" target="_blank">Vitkund Gaon (बिजनेस कुंडली)</a></li>
                            <li><i class="feather-check"></i><a href="/motivational-story">Learn at your pace</li>
                            <li><i class="feather-check"></i> <a href="/videos" target="_blank">Watch the videos at your convenience.</a></li>
                            <li><i class="feather-check"></i> <a href="/business-ideas" target="_blank">Trending Business Ideas</a></li>
                            <li><i class="feather-check"></i> <a href="/contact-us" target="_blank">Premium Helpdesk & Support</a></li>
                            <li><i class="feather-check"></i> <a href="/motivational-story" target="_blank">Motivational Stories & Quotes.</a></li>
                            <li><i class="feather-check"></i><a href="#">Live Mentorship.</a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Feture Box  -->
            </div>
        </div>
    </div>

    <div class="rbt-newsletter-area newsletter-style-2 bg-color-primary rbt-section-gap">
        <div class="container">
            <div class="row row--15 align-items-center">
                <div class="col-lg-12">
                    <div class="inner text-center">
                        <div class="section-title text-center">
                            <span class="subtitle bg-white-opacity">Business Guides</span>
                            <h2 class="title color-white"><strong> Here we are VITKUND <br />(Value, Integration, Training Kundli)</strong> </h2>
                            <p class="description color-white mt--20">Vitkund work on helping people improve knowledge, Implementation, Personality, Presentation, and Business skills.</p>
                        </div>


                        <div class="row row--15 mt--50">
                            <!-- Start Single Counter -->
                            <div class="col-lg-3 offset-lg-3 col-md-6 col-sm-6 single-counter">
                                <div class="rbt-counterup rbt-hover-03 style-2 text-color-white">
                                    <div class="inner">
                                        <div class="content">
                                            <h3 class="counter color-white">
                                                <span class="odometer" data-count="500">00</span>
                                            </h3>
                                            <h5 class="title color-white">Successfully Trained</h5>
                                            <span class="subtitle color-white">Learners &amp; counting</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Counter -->
                            <!-- Start Single Counter -->
                            <div class="col-lg-3 col-md-6 col-sm-6 single-counter mt_mobile--30">
                                <div class="rbt-counterup rbt-hover-03 style-2 text-color-white">
                                    <div class="inner">
                                        <div class="content">
                                            <h3 class="counter color-white">
                                                <span class="odometer" data-count="100">00</span>
                                            </h3>
                                            <h5 class="title color-white">Successfully Running Buisness</h5>
                                            <span class="subtitle color-white">Online Course</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Counter -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>


