
<!DOCTYPE html>
<html lang="en">



<body class="rbt-header-sticky">

    <!-- Start Header Area -->
    <!-- Mobile Menu Section -->
    <div class="popup-mobile-menu">
        <div class="inner-wrapper">
            <div class="inner-top">
                <div class="content">
                    <div class="logo">
                        <a href="index">
                            <img src="~/Content/assets/images/logo.png" alt="Education Logo Images">
                        </a>
                    </div>
                    <div class="rbt-btn-close">
                        <button class="close-button rbt-round-btn"><i class="feather-x"></i></button>
                    </div>
                </div>
                <ul class="navbar-top-left rbt-information-list justify-content-start" style="padding-top:30px;">
                    <li>
                        <a href="mailto:info@vitkund.com"><i class="feather-mail"></i>info@vitkund.com</a>
                    </li>
                    <li>
                        <a href="tel:8607609898"><i class="feather-phone"></i>8607609898</a>
                    </li>
                </ul>
            </div>

            <nav class="mainmenu-nav">
                <ul class="mainmenu">
                    <li><a href="index">Home</a></li>
                    <li><a href="about-us">About Us</a></li>
                    <li><a href="course">Courses</a></li>
                    <li><a href="our-services">Our Services</a></li>
                    <li><a href="plan">Plan</a></li>
                    <li><a href="faq">FAQ</a></li>
                    <li><a href="contact-us">Contact Us</a></li>
                </ul>
            </nav>

            <div class="mobile-menu-bottom">
                <div class="rbt-btn-wrapper mb--20">
                    <a class="rbt-btn blink btn-border-gradient radius-round btn-sm hover-transform-none w-100 justify-content-center text-center" href="vitkund">
                        <span>Vitkund Gaon</span>
                    </a>

                </div>

                <div class="social-share-wrapper">
                    <span class="rbt-short-title d-block">Find With Us</span>
                    <ul class="social-icon social-default transparent-with-border justify-content-start mt--20">
                        <li>
                            <a href="https://m.facebook.com/profile.php?id=100087627835593&mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>
                        </li>

                        <li>
                            <a href="https://instagram.com/vitkund"><i class="fab fa-instagram"></i></a>
                        </li>

                        <li>
                            <a href="https://www.youtube.com/@("@vitkund")"><i class="fab fa-youtube"></i></a>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </div>

    <a class="close_side_menu" href="javascript:void(0);"></a>

    <!-- Start breadcrumb Area -->
    <div class="rbt-breadcrumb-default ptb--50 ptb_md--50 ptb_sm--30 bg-gradient-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inner text-center">
                        <h2 class="title">FAQ'S</h2>
                        <ul class="page-list">
                            <li class="rbt-breadcrumb-item"><a href="index">Home</a></li>
                            <li>
                                <div class="icon-right"><i class="feather-chevron-right"></i></div>
                            </li>
                            <li class="rbt-breadcrumb-item active">FAQ</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb Area -->


    <div class="checkout_area bg-color-white" style="padding-top:30px; padding-bottom:50px;">
        <div class="container">

            <div class="rbt-accordion-area accordion-style-1 bg-color-white">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-12">
                            <div class="rbt-accordion-style accordion">

                                <div class="rbt-accordion-style rbt-accordion-04 accordion">
                                    <div class="accordion" id="accordionExamplec3">
                                        <div class="accordion-item card">
                                            <h2 class="accordion-header card-header" id="headingThree1">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
                                                    What is Vit Kund?
                                                </button>
                                            </h2>
                                            <div id="collapseThree1" class="accordion-collapse collapse" aria-labelledby="headingThree1" data-bs-parent="#accordionExamplec3" style="">
                                                <div class="accordion-body card-body">
                                                    Vitkund work on helping people improve knowledge, Implementation, Personality, Presentation, and Business skills.
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item card">
                                            <h2 class="accordion-header card-header" id="headingThree2">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
                                                    Can I buy single courses?
                                                </button>
                                            </h2>
                                            <div id="collapseThree2" class="accordion-collapse collapse" aria-labelledby="headingThree2" data-bs-parent="#accordionExamplec3">
                                                <div class="accordion-body card-body">
                                                    Yes, you can buy single courses on vitkund.
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item card">
                                            <h2 class="accordion-header card-header" id="headingThree3">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                                                    What payment methods do you accept?
                                                </button>
                                            </h2>
                                            <div id="collapseThree3" class="accordion-collapse collapse" aria-labelledby="headingThree3" data-bs-parent="#accordionExamplec3">
                                                <div class="accordion-body card-body">
                                                    We accept various payment methods, including major credit cards, debit cards, and online payment platforms. Simply choose your preferred payment method during the checkout process.
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item card">
                                            <h2 class="accordion-header card-header" id="headingThree4">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4">
                                                    Is my payment information secure?
                                                </button>
                                            </h2>
                                            <div id="collapseThree4" class="accordion-collapse collapse" aria-labelledby="headingThree4" data-bs-parent="#accordionExamplec3">
                                                <div class="accordion-body card-body">
                                                    Yes, we take the security of your payment information seriously. We use industry-standard encryption and secure payment gateways to ensure that your payment details are protected.
                                                </div>
                                            </div>
                                        </div>


                                        <div class="accordion-item card">
                                            <h2 class="accordion-header card-header" id="headingThree5">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree5" aria-expanded="false" aria-controls="collapseThree5">
                                                    Do you offer refunds?
                                                </button>
                                            </h2>
                                            <div id="collapseThree5" class="accordion-collapse collapse" aria-labelledby="headingThree5" data-bs-parent="#accordionExamplec3">
                                                <div class="accordion-body card-body">
                                                    Yes, only on the day you have made the payment.
                                                    We have a refund policy in place. If you are not satisfied with a course, you may be eligible for a refund within a specific period. Please refer to our refund policy for detailed information on eligibility and the refund process.
                                                </div>
                                            </div>
                                        </div>


                                        <div class="accordion-item card">
                                            <h2 class="accordion-header card-header" id="headingThree6">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree6" aria-expanded="false" aria-controls="collapseThree6">
                                                    Can I contact support if I have questions or issues?
                                                </button>
                                            </h2>
                                            <div id="collapseThree6" class="accordion-collapse collapse" aria-labelledby="headingThree6" data-bs-parent="#accordionExamplec3">
                                                <div class="accordion-body card-body">
                                                    Absolutely! We have a dedicated support team ready to assist you. If you have any questions, technical difficulties, or require assistance, you can reach out to our support team through the contact information provided on our website.
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="rbt-separator-mid">
        <div class="container">
            <hr class="rbt-separator m-0">
        </div>
    </div>


    <!-- JS
    ============================================ -->
    <!-- Modernizer JS -->
    <script src="~/Content/assets/js/vendor/modernizr.min.js"></script>
    <!-- jQuery JS -->
    <script src="~/Content/assets/js/vendor/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/Content/assets/js/vendor/bootstrap.min.js"></script>
    <!-- sal.js -->
    <script src="~/Content/assets/js/vendor/sal.js"></script>
    <script src="~/Content/assets/js/vendor/swiper.js"></script>
    <script src="~/Content/assets/js/vendor/magnify.min.js"></script>
    <script src="~/Content/assets/js/vendor/jquery-appear.js"></script>
    <script src="~/Content/assets/js/vendor/odometer.js"></script>
    <script src="~/Content/assets/js/vendor/backtotop.js"></script>
    <script src="~/Content/assets/js/vendor/isotop.js"></script>
    <script src="~/Content/assets/js/vendor/imageloaded.js"></script>

    <script src="~/Content/assets/js/vendor/wow.js"></script>
    <script src="~/Content/assets/js/vendor/waypoint.min.js"></script>
    <script src="~/Content/assets/js/vendor/easypie.js"></script>
    <script src="~/Content/assets/js/vendor/text-type.js"></script>
    <script src="~/Content/assets/js/vendor/jquery-one-page-nav.js"></script>
    <script src="~/Content/assets/js/vendor/bootstrap-select.min.js"></script>
    <script src="~/Content/assets/js/vendor/jquery-ui.js"></script>
    <script src="~/Content/assets/js/vendor/magnify-popup.min.js"></script>
    <script src="~/Content/assets/js/vendor/paralax-scroll.js"></script>
    <script src="~/Content/assets/js/vendor/paralax.min.js"></script>
    <a href="~/Views/Home/Faq.cshtml">~/Views/Home/Faq.cshtml</a>
    <script src="~/Content/assets/js/vendor/countdown.js"></script>
    <script src="~/Content/assets/js/vendor/plyr.js"></script>
    <!-- Main JS -->
    <script src="~/Content/assets/js/main.js"></script>
</body>

</html>