<!-- Start breadcrumb Area -->
<div class="rbt-breadcrumb-default ptb--50 ptb_md--50 ptb_sm--30 bg-gradient-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner text-center">
                    <h2 class="title">Login</h2>
                    <ul class="page-list">
                        <li class="rbt-breadcrumb-item"><a href="index">Home</a></li>
                        <li>
                            <div class="icon-right"><i class="feather-chevron-right"></i></div>
                        </li>
                        <li class="rbt-breadcrumb-item active">Login</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb Area -->


<div class="checkout_area bg-color-white" style="padding-top:30px; padding-bottom:50px;">
    <div class="container">
        <div class="row g-5 checkout-form">

            <div class="col-lg-6 offset-lg-3">
                <div class="rbt-contact-form contact-form-style-1 max-width-auto">

                    <form class="max-width-auto">
                        <div class="form-group">
                            <input name="con_name" type="text" id="usernametxtbox" required>
                            <label>Username or email *</label>
                            <span class="focus-border"></span>
                        </div>
                        <div class="form-group">
                            <input name="con_email" id="passwordtxtbox" type="password" required>
                            <label>Password *</label>
                            <span class="focus-border"></span>
                        </div>

                        <div class="row mb--30">
                            <div class="col-lg-6">
                                <div class="rbt-checkbox">
                                    <input type="checkbox" id="rememberme" name="rememberme">
                                    <label for="rememberme">Remember me</label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="rbt-lost-password text-end">
                                    <a class="rbt-btn-link" href="#">Lost your password?</a>
                                </div>
                            </div>
                        </div>

                        <div class="form-submit-group">

                            <a href="javascript:void(0);" onclick="LoginAdmin()" type="submit" class="rbt-btn btn-md btn-gradient hover-icon-reverse w-100">

                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text">Log In</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </span>
                            </a>

                        </div>
                        <br />
                        <div class="text-center" style="">
                            <p>OR</p>
                            <a class="rbt-btn-link" href="signup">Signup Now</a>
                        </div>
                    </form>
                </div>

            </div>


        </div>
    </div>
</div>

<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>
<script>

    function LoginAdmin() {
        var username = $("#usernametxtbox").val();
        var password = $("#passwordtxtbox").val();
        var tbladmin = { Username: username, Password: password }
        $.ajax({
                type: 'POST',
                url: '@Url.Action("LoginAdmin", "Home")',
                data: JSON.stringify({ tbladmin }),
                traditional: true,
                contentType: 'application/json; charset=utf-8',
                datatype:'json',
                success: function (response) {
                    debugger
                    var data = response.message.split(",");
                    if (data[0] == "Logged In" && data[1] == "Admin") {
                        if (data[2] != null || data[2] != "")
                            window.location.href = "/" + data[2];
                        else
                            window.location.href = "/AdminIndex";
                    }
                    else if (data[0] == "Logged In" && data[1] == "User") {
                        if (data[2] != null || data[2] != "")
                            window.location.href = "/" + data[2];
                        else
                            window.location.href = "/Index";
                    }
                    else if (response.message == "User Not Found")
                        alert(response.message)
                },
                error: function (error) {
                    // Handle errors
                    console.log(error);
                }
            });
    }
</script>

