<!-- Start breadcrumb Area -->
<div class="rbt-breadcrumb-default ptb--50 ptb_md--50 ptb_sm--30 bg-gradient-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner text-center">
                    <h2 class="title">Login</h2>
                    <ul class="page-list">
                        <li class="rbt-breadcrumb-item"><a href="index">Home</a></li>
                        <li>
                            <div class="icon-right"><i class="feather-chevron-right"></i></div>
                        </li>
                        <li class="rbt-breadcrumb-item active">Login</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb Area -->


<div class="checkout_area bg-color-white" style="padding-top:30px; padding-bottom:50px;">
    <div class="container">
        <div class="row g-5 checkout-form">

            <div class="col-lg-6 offset-lg-3">
                <div class="rbt-contact-form contact-form-style-1 max-width-auto">

                    <form class="max-width-auto">
                        <div class="form-group">
                            <span id="validationMessagemobileno" style="color:red"></span><span id="maxvalmobileno" style="color:red"></span><span id="requiredvalidationformobileno" style="color:red"></span>
                            <input name="con_name" type="text" id="usernametxtbox" required>
                            <label>Email *</label>
                            <span class="focus-border"></span>
                            <a href="javascript:void(0);" style="text-align: right; float: right; font-size: 15px;" onclick="GenerateOTP()">Generate OTP</a>
                        </div>
                        <div class="form-group">
                            <input name="con_email" id="passwordtxtbox" type="password" required>
                            <label>OTP *</label>
                            <span class="focus-border"></span>
                        </div>

                        <div class="row mb--30">
                            <div class="col-lg-6">
                                <div class="rbt-checkbox">
                                    <input type="checkbox" id="rememberme" name="rememberme">
                                    <label for="rememberme">Remember me</label>
                                </div>
                            </div>
                            @*<div class="col-lg-6">
                                    <div class="rbt-lost-password text-end">
                                        <a class="rbt-btn-link" href="#">Lost your password?</a>
                                    </div>
                                </div>*@
                        </div>

                        <div class="form-submit-group">

                            <a href="javascript:void(0);" onclick="LoginAdmin()" type="submit" class="rbt-btn btn-md btn-gradient hover-icon-reverse w-100">

                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text">Log In</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </span>
                            </a>

                        </div>
                        <br />

                    </form>
                </div>

            </div>


        </div>
    </div>
</div>

<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    //$('#usernametxtbox').on('input', function () {
    //    var maxLength = 10;
    //    var inputValue = $(this).val();
    //    if (/[^0-9]/g.test(inputValue)) {
    //        topricevalidation = false;
    //        $('#validationMessagemobileno').text('Only numbers allowed (0-9)');
    //    }
    //    else {
    //        topricevalidation = true;
    //        $('#validationMessagemobileno').text('');
    //    }
    //    // Allow only numbers (0-9)
    //    var numericValue = inputValue.replace(/[^0-9]/g, '');
    //    $(this).val(numericValue);
    //    if (inputValue.length > maxLength) {
    //        // Trim the input to the maximum length
    //        var trimmedValue = inputValue.substring(0, maxLength);
    //        $(this).val(trimmedValue);
    //        $("#maxvalmobileno").text("Only " + maxLength + " Digits allowed.");
    //    }
    //    else {
    //        $("#maxvalmobileno").text("");
    //    }
    //});
    $('#usernametxtbox').on('input', function () {
        debugger;
    var maxLength = 50;
    var inputValue = $(this).val();
    var emailPattern = /^[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

    if (inputValue.length > 0 && !emailPattern.test(inputValue)) {
        topricevalidation = false;
        $('#validationMessagemobileno').text('Enter a valid email address');
    } else {
        topricevalidation = true;
        $('#validationMessagemobileno').text('');
    }

    if (inputValue.length > maxLength) {
        var trimmedValue = inputValue.substring(0, maxLength);
        $(this).val(trimmedValue);
        $("#maxvalmobileno").text("Only " + maxLength + " characters allowed.");
    } else {
        $("#maxvalmobileno").text("");
    }
});

    function LoginAdmin() {
        var username = $("#usernametxtbox").val();
        var password = $("#passwordtxtbox").val();
        var tbladmin = { Username: username, Password: password }
        if (username != "" || password != "") {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("LoginAdmin", "Home")',
                data: JSON.stringify({ tbladmin }),
                traditional: true,
                contentType: 'application/json; charset=utf-8',
                datatype: 'json',
                success: function (response) {
                    debugger
                    var data = response.message.split(",");
                    if (data[0] == "Logged In" && data[1] == "Admin") {
                        if (data[2] != null && data[2] != "")
                            window.location.href = "/" + data[2];
                        else
                            window.location.href = "/AdminIndex";
                    }
                    else if (data[0] == "Logged In" && data[1] == "User") {
                        if (data[2] != null && data[2] != "" && data[2]=="AdminIndex")
                            window.location.href = "/" + data[2];
                        else
                            window.location.href = "/Index";
                    }
                    else if (response.message == "User Not Found")
                        alert(response.message)
                },
                error: function (error) {
                    // Handle errors
                    console.log(error);
                }
            });
        }
        else {
            alert('Please Enter Login Details.');
        }
    }

    function LoginAdmin() {
        var username = $("#usernametxtbox").val();
        var OTP = $("#passwordtxtbox").val();
        var tbladmin = { PhoneNumber: username, Password: OTP }
        if (username != "" || password != "") {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("LoginAdmin", "Home")',
                data: JSON.stringify({ tbladmin}),
                traditional: true,
                contentType: 'application/json; charset=utf-8',
                datatype: 'json',
                success: function (response) {
                    debugger
                    if (!response.message.includes(",")) {
                        alert(response.message);
                    }
                    var data = response.message.split(",");
                    if (data[0] == "Logged In" && data[1] == "Admin") {
                        if (data[2] != null && data[2] != "")
                            window.location.href = "/" + data[2];
                        else
                            window.location.href = "/AdminIndex";
                    }
                    else if (data[0] == "Logged In" && data[1] == "User") {
                        if (data[2] != null && data[2] != "")
                            window.location.href = "/" + data[2];
                        else
                            window.location.href = "/Index";
                    }
                    else if (response.message == "User Not Found")
                        alert(response.message)
                },
                error: function (error) {
                    // Handle errors
                    console.log(error);
                }
            });
        }
        else {
            alert('Please Enter Login Details.');
        }
    }

    function GenerateOTP() {
        var randomotp = Math.floor(1000 + Math.random() * 9000);
        var PhoneNumber = $("#usernametxtbox").val();
        if (PhoneNumber != "" && PhoneNumber != null) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SendOTP", "Home")',
                data: JSON.stringify({ Phonenum: PhoneNumber, OTP: randomotp }),
                traditional: true,
                contentType: 'application/json; charset=utf-8',
                datatype: 'json',
                success: function (response) {
                    debugger
                    alert(response.message);
                },
                error: function (error) {
                    // Handle errors
                    console.log(error);
                }
            });
        }
    }
</script>

