
<main class="rbt-main-wrapper">

    <!-- Start breadcrumb Area -->
    <div class="rbt-breadcrumb-default ptb--50 ptb_md--50 ptb_sm--30 bg-gradient-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inner text-center">
                        <h2 class="title">Motivational Quotes</h2>
                        <ul class="page-list">
                            <li class="rbt-breadcrumb-item"><a href="index">Home</a></li>
                            <li>
                                <div class="icon-right"><i class="feather-chevron-right"></i></div>
                            </li>
                            <li class="rbt-breadcrumb-item active">Motivational Quotes</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb Area -->
    <!-- Start Testimonial Area   -->
    <div class="rbt-testimonial-area bg-color-extra2 rbt-section-gap">
        <div class="container">

            <div class="testimonial-item-3-activation swiper rbt-arrow-between gutter-swiper-30 swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
                <div class="swiper-wrapper" id="swiper-wrapper-131074b1ba472641c" aria-live="polite" style="transform: translate3d(-890px, 0px, 0px); transition-duration: 0ms;">

                    <!-- Start Single Testimonial  -->
                    <div class="swiper-slide" style="width: 445px;" role="group" aria-label="1 / 5">
                        <div class="single-slide">
                            <div class="rbt-testimonial-box">
                                <div class="inner bg-no-shadow bg-color-primary-opacity">
                                    <div class="clint-info-wrapper">
                                        <div class="thumb">
                                            <img src="~/Content/assets/images/testimonial/client-01.png" alt="Clint Images">
                                        </div>
                                        <div class="client-info">
                                            <h5 class="title">Martha Maldonado</h5>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <p class="subtitle-3">
                                            After the launch, vulputate at sapien sit amet,
                                            auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget velit.
                                        </p>
                                        <div class="rating mt--20">
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Testimonial  -->
                    <!-- Start Single Testimonial  -->
                    <div class="swiper-slide swiper-slide-prev" style="width: 445px;" role="group" aria-label="2 / 5">
                        <div class="single-slide">
                            <div class="rbt-testimonial-box">
                                <div class="inner bg-no-shadow bg-color-primary-opacity">
                                    <div class="clint-info-wrapper">
                                        <div class="thumb">
                                            <img src="~/Content/assets/images/testimonial/client-02.png" alt="Clint Images">
                                        </div>
                                        <div class="client-info">
                                            <h5 class="title">Michael D. Lovelady</h5>

                                        </div>
                                    </div>
                                    <div class="description">
                                        <p class="subtitle-3">
                                            Histudy education, vulputate at sapien sit amet,
                                            auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget.
                                        </p>
                                        <div class="rating mt--20">
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Testimonial  -->
                    <!-- Start Single Testimonial  -->
                    <div class="swiper-slide swiper-slide-active" style="width: 445px;" role="group" aria-label="3 / 5">
                        <div class="single-slide">
                            <div class="rbt-testimonial-box">
                                <div class="inner bg-no-shadow bg-color-primary-opacity">
                                    <div class="clint-info-wrapper">
                                        <div class="thumb">
                                            <img src="~/Content/assets/images/testimonial/client-03.png" alt="Clint Images">
                                        </div>
                                        <div class="client-info">
                                            <h5 class="title">Valerie J. Creasman</h5>
                                            <
                                        </div>
                                    </div>
                                    <div class="description">
                                        <p class="subtitle-3">
                                            Our educational, vulputate at sapien sit amet,
                                            auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget.
                                        </p>
                                        <div class="rating mt--20">
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Testimonial  -->
                    <!-- Start Single Testimonial  -->
                    <div class="swiper-slide swiper-slide-next" style="width: 445px;" role="group" aria-label="4 / 5">
                        <div class="single-slide">
                            <div class="rbt-testimonial-box">
                                <div class="inner bg-no-shadow bg-color-primary-opacity">
                                    <div class="clint-info-wrapper">
                                        <div class="thumb">
                                            <img src="~/Content/assets/images/testimonial/client-03.png" alt="Clint Images">
                                        </div>
                                        <div class="client-info">
                                            <h5 class="title">Valerie J. Creasman</h5>

                                        </div>
                                    </div>
                                    <div class="description">
                                        <p class="subtitle-3">
                                            Our educational, vulputate at sapien sit amet,
                                            auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget.
                                        </p>
                                        <div class="rating mt--20">
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Testimonial  -->
                    <!-- Start Single Testimonial  -->
                    <div class="swiper-slide" style="width: 445px;" role="group" aria-label="5 / 5">
                        <div class="single-slide">
                            <div class="rbt-testimonial-box">
                                <div class="inner bg-no-shadow bg-color-primary-opacity">
                                    <div class="clint-info-wrapper">
                                        <div class="thumb">
                                            <img src="~/Content/assets/images/testimonial/client-03.png" alt="Clint Images">
                                        </div>
                                        <div class="client-info">
                                            <h5 class="title">Valerie J. Creasman</h5>

                                        </div>
                                    </div>
                                    <div class="description">
                                        <p class="subtitle-3">
                                            Our educational, vulputate at sapien sit amet,
                                            auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget.
                                        </p>
                                        <div class="rating mt--20">
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Testimonial  -->
                </div>

                <div class="rbt-swiper-arrow rbt-arrow-left swiper-button-disabled" tabindex="-1" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-131074b1ba472641c" aria-disabled="true">
                    <div class="custom-overfolow">
                        <i class="rbt-icon feather-arrow-left"></i>
                        <i class="rbt-icon-top feather-arrow-left"></i>
                    </div>
                </div>

                <div class="rbt-swiper-arrow rbt-arrow-right" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-131074b1ba472641c" aria-disabled="false">
                    <div class="custom-overfolow">
                        <i class="rbt-icon feather-arrow-right"></i>
                        <i class="rbt-icon-top feather-arrow-right"></i>
                    </div>
                </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
        </div>
    </div>

    <!-- End Testimonial Area   -->








    <div class="rbt-newsletter-area newsletter-style-2 bg-color-primary rbt-section-gap mt--50">
        <div class="container">
            <div class="row row--15 align-items-center">
                <div class="col-lg-12">
                    <div class="inner text-center">
                        <div class="section-title text-center">
                            <span class="subtitle bg-white-opacity">Business Guides</span>
                            <h2 class="title color-white"><strong> Here we are VITKUND <br />(Value, Integration, Training Kundli)</strong> </h2>
                            <p class="description color-white mt--20">Vitkund work on helping people improve knowledge, Implementation, Personality, Presentation, and Business skills.</p>
                        </div>


                        <div class="row row--15 mt--50">
                            <!-- Start Single Counter -->
                            <div class="col-lg-3 offset-lg-3 col-md-6 col-sm-6 single-counter">
                                <div class="rbt-counterup rbt-hover-03 style-2 text-color-white">
                                    <div class="inner">
                                        <div class="content">
                                            <h3 class="counter color-white">
                                                <span class="odometer" data-count="500">00</span>
                                            </h3>
                                            <h5 class="title color-white">Successfully Trained</h5>
                                            <span class="subtitle color-white">Learners &amp; counting</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Counter -->
                            <!-- Start Single Counter -->
                            <div class="col-lg-3 col-md-6 col-sm-6 single-counter mt_mobile--30">
                                <div class="rbt-counterup rbt-hover-03 style-2 text-color-white">
                                    <div class="inner">
                                        <div class="content">
                                            <h3 class="counter color-white">
                                                <span class="odometer" data-count="100">00</span>
                                            </h3>
                                            <h5 class="title color-white">Certification Business</h5>
                                            <span class="subtitle color-white">Online Course</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Counter -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>