

<main class="rbt-main-wrapper">

    <!-- Start breadcrumb Area -->
    <div class="rbt-breadcrumb-default ptb--50 ptb_md--50 ptb_sm--30 bg-gradient-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inner text-center">
                        <h2 class="title">Motivational Story</h2>
                        <ul class="page-list">
                            <li class="rbt-breadcrumb-item"><a href="index">Home</a></li>
                            <li>
                                <div class="icon-right"><i class="feather-chevron-right"></i></div>
                            </li>
                            <li class="rbt-breadcrumb-item active">Motivational Story</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb Area -->
    <!-- Start Testimonial Area   -->
    <div class="rbt-testimonial-area bg-color-white pt--50 overflow-hidden">

        <div class="scroll-animation-wrapper no-overlay mt--50">
            <div class="scroll-animation scroll-right-left">

                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-odd">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="~/Content/assets/images/icons/facebook.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">"Vit Kund Business Guides is your dedicated partner for business success. Their commitment to your aspirations is evident in every interaction. With their expert team and practical guidance, they turn your business dreams into reality. Highly recommended!"</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="~/Content/assets/images/testimonial/client-01.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">Mr. Raj Arora, <span>CEO</span></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->
                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-odd">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="~/Content/assets/images/icons/google.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">"Vit Kund Business Guides is your dedicated partner for business success. Their commitment to your aspirations is evident in every interaction. With their expert team and practical guidance, they turn your business dreams into reality. Highly recommended!"</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="~/Content/assets/images/testimonial/client-02.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">Mr Deepak, <span>CEO</span></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->
                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-odd">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="~/Content/assets/images/icons/yelp.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">"Vit Kund Business Guides is your dedicated partner for business success. Their commitment to your aspirations is evident in every interaction. With their expert team and practical guidance, they turn your business dreams into reality. Highly recommended!"</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="~/Content/assets/images/testimonial/client-03.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">Valerie J., <span>CEO</span></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->
                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-odd">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="~/Content/assets/images/icons/facebook.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">"Vit Kund Business Guides is your dedicated partner for business success. Their commitment to your aspirations is evident in every interaction. With their expert team and practical guidance, they turn your business dreams into reality. Highly recommended!"</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="~/Content/assets/images/testimonial/client-04.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">Hannah R., <span>CEO</span></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->
                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-odd">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="~/Content/assets/images/icons/bing.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">"Vit Kund Business Guides is your dedicated partner for business success. Their commitment to your aspirations is evident in every interaction. With their expert team and practical guidance, they turn your business dreams into reality. Highly recommended!"</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="~/Content/assets/images/testimonial/client-05.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">Pearl B. Hill, <span>Marketing</span></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->
                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-odd">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="~/Content/assets/images/icons/facebook.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">"Vit Kund Business Guides is your dedicated partner for business success. Their commitment to your aspirations is evident in every interaction. With their expert team and practical guidance, they turn your business dreams into reality. Highly recommended!"</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="~/Content/assets/images/testimonial/client-01.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">Mandy F. Wood, <span>SR Designer</span></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->
                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-odd">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="~/Content/assets/images/icons/hubs.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">"Vit Kund Business Guides is your dedicated partner for business success. Their commitment to your aspirations is evident in every interaction. With their expert team and practical guidance, they turn your business dreams into reality. Highly recommended!"</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="~/Content/assets/images/testimonial/client-07.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">Mildred W. Diaz, <span>Executive</span></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->
                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-odd">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="~/Content/assets/images/icons/bing.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">"Vit Kund Business Guides is your dedicated partner for business success. Their commitment to your aspirations is evident in every interaction. With their expert team and practical guidance, they turn your business dreams into reality. Highly recommended!"</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="~/Content/assets/images/testimonial/client-08.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">Christopher, <span>CEO</span></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->
                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-odd">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="~/Content/assets/images/icons/yelp.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">"Vit Kund Business Guides is your dedicated partner for business success. Their commitment to your aspirations is evident in every interaction. With their expert team and practical guidance, they turn your business dreams into reality. Highly recommended!"</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="~/Content/assets/images/testimonial/client-06.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">Fatima, <span>Child</span></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->
            </div>
        </div>

        <div class="scroll-animation-wrapper no-overlay mt--30">
            <div class="scroll-animation scroll-left-right">

                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-even">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="~/Content/assets/images/icons/facebook.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">"Vit Kund Business Guides is your dedicated partner for business success. Their commitment to your aspirations is evident in every interaction. With their expert team and practical guidance, they turn your business dreams into reality. Highly recommended!"</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="~/Content/assets/images/testimonial/client-01.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">Martha Maldonado, <span>CEO</span></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->
                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-even">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="~/Content/assets/images/icons/google.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">"Vit Kund Business Guides is your dedicated partner for business success. Their commitment to your aspirations is evident in every interaction. With their expert team and practical guidance, they turn your business dreams into reality. Highly recommended!"</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="~/Content/assets/images/testimonial/client-02.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">Michael D., <span>CEO</span></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->
                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-even">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="~/Content/assets/images/icons/yelp.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">"Vit Kund Business Guides is your dedicated partner for business success. Their commitment to your aspirations is evident in every interaction. With their expert team and practical guidance, they turn your business dreams into reality. Highly recommended!"</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="~/Content/assets/images/testimonial/client-03.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">Valerie J., <span>CEO</span></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->
                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-even">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="~/Content/assets/images/icons/bing.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">"Vit Kund Business Guides is your dedicated partner for business success. Their commitment to your aspirations is evident in every interaction. With their expert team and practical guidance, they turn your business dreams into reality. Highly recommended!"</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="~/Content/assets/images/testimonial/client-04.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">Hannah R., <span>CEO</span></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->
                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-even">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="~/Content/assets/images/icons/hubs.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">"Vit Kund Business Guides is your dedicated partner for business success. Their commitment to your aspirations is evident in every interaction. With their expert team and practical guidance, they turn your business dreams into reality. Highly recommended!"</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="~/Content/assets/images/testimonial/client-05.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">Pearl B. Hill, <span>Marketing</span></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->
                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-even">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="~/Content/assets/images/icons/yelp.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">"Vit Kund Business Guides is your dedicated partner for business success. Their commitment to your aspirations is evident in every interaction. With their expert team and practical guidance, they turn your business dreams into reality. Highly recommended!"</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="~/Content/assets/images/testimonial/client-01.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">Mandy F. Wood, <span>SR Designer</span></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->
                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-even">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="~/Content/assets/images/icons/bing.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">"Vit Kund Business Guides is your dedicated partner for business success. Their commitment to your aspirations is evident in every interaction. With their expert team and practical guidance, they turn your business dreams into reality. Highly recommended!"</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="~/Content/assets/images/testimonial/client-07.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">Mildred W. Diaz, <span>Executive</span></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->
                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-even">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="~/Content/assets/images/icons/facebook.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">"Vit Kund Business Guides is your dedicated partner for business success. Their commitment to your aspirations is evident in every interaction. With their expert team and practical guidance, they turn your business dreams into reality. Highly recommended!"</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="~/Content/assets/images/testimonial/client-08.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">Christopher, <span>CEO</span></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->
                <!-- Start Single Testimonial  -->
                <div class="single-column-20 bg-theme-gradient-even">
                    <div class="rbt-testimonial-box style-2">
                        <div class="inner">
                            <div class="icons">
                                <img src="~/Content/assets/images/icons/yelp.png" alt="Clint Images">
                            </div>
                            <div class="description">
                                <p class="subtitle-3">"Vit Kund Business Guides is your dedicated partner for business success. Their commitment to your aspirations is evident in every interaction. With their expert team and practical guidance, they turn your business dreams into reality. Highly recommended!"</p>
                                <div class="clint-info-wrapper">
                                    <div class="thumb">
                                        <img src="~/Content/assets/images/testimonial/client-06.png" alt="Clint Images">
                                    </div>
                                    <div class="client-info">
                                        <h5 class="title">Fatima, <span>Child</span></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->
            </div>
        </div>
    </div>
    <!-- End Testimonial Area   -->








    <div class="rbt-newsletter-area newsletter-style-2 bg-color-primary rbt-section-gap mt--50">
        <div class="container">
            <div class="row row--15 align-items-center">
                <div class="col-lg-12">
                    <div class="inner text-center">
                        <div class="section-title text-center">
                            <span class="subtitle bg-white-opacity">Business Guides</span>
                            <h2 class="title color-white"><strong> Here we are VITKUND <br />(Value, Integration, Training Kundli)</strong> </h2>
                            <p class="description color-white mt--20">Vitkund work on helping people improve knowledge, Implementation, Personality, Presentation, and Business skills.</p>
                        </div>


                        <div class="row row--15 mt--50">
                            <!-- Start Single Counter -->
                            <div class="col-lg-3 offset-lg-3 col-md-6 col-sm-6 single-counter">
                                <div class="rbt-counterup rbt-hover-03 style-2 text-color-white">
                                    <div class="inner">
                                        <div class="content">
                                            <h3 class="counter color-white">
                                                <span class="odometer" data-count="500">00</span>
                                            </h3>
                                            <h5 class="title color-white">Successfully Trained</h5>
                                            <span class="subtitle color-white">Learners &amp; counting</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Counter -->
                            <!-- Start Single Counter -->
                            <div class="col-lg-3 col-md-6 col-sm-6 single-counter mt_mobile--30">
                                <div class="rbt-counterup rbt-hover-03 style-2 text-color-white">
                                    <div class="inner">
                                        <div class="content">
                                            <h3 class="counter color-white">
                                                <span class="odometer" data-count="100">00</span>
                                            </h3>
                                            <h5 class="title color-white">Certification Business</h5>
                                            <span class="subtitle color-white">Online Course</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Counter -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

