<!-- Start breadcrumb Area -->
<div class="rbt-breadcrumb-default ptb--50 ptb_md--50 ptb_sm--30 bg-gradient-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner text-center">
                    <h2 class="title">Vit Kund Gaon Part 2</h2>
                    <ul class="page-list">
                        <li class="rbt-breadcrumb-item"><a href="index">Home</a></li>
                        <li>
                            <div class="icon-right"><i class="feather-chevron-right"></i></div>
                        </li>
                        <li class="rbt-breadcrumb-item active">Vit Kund Gaon Part 2</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb Area -->

<main class="rbt-main-wrapper">
    <div class="checkout_area bg-color-white" style="padding-top:30px; padding-bottom:50px;">
        <div class="container">
            <div class="row g-5 checkout-form">

                <div class="col-lg-8 offset-lg-2">
                    <div class="checkout-content-wrapper">

                        <!-- Billing Address -->
                        <div id="billing-form">

                            <div class="row g-3">
                                <div class="col-md-8 col-12">
                                    <label>
                                        Q: क्या आपने कोई  उधार लिया हुआ हैं और समय पर चुका रहे हो या चुकाया हैं?
                                    </label>
                                </div>

                                <div class="col-md-4 col-12">
                                    <div class="col-12 mb--50">
                                        <div class="check-box">
                                            <input type="checkbox" id="create_account1" wfd-id="id11">
                                            <label for="create_account1">Yes</label>
                                        </div>
                                        <div class="check-box">
                                            <input type="checkbox" id="shiping_address2" data-shipping="" wfd-id="id12">
                                            <label for="shiping_address2">No</label>
                                        </div>
                                    </div>
                                    <span id="error1" style="font-size:medium"></span>
                                </div>


                                <div class="col-md-8 col-12">
                                    <label>Q: क्या जो व्यवसाय आप करने जा रहे हो उसको प्रसन्नता से करोगे? और ये व्यवसाय आपकी पसंद का हैं? </label>

                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="col-12 mb--50">
                                        <div class="check-box">
                                            <input type="checkbox" id="create_account3" wfd-id="id11">
                                            <label for="create_account3">Yes</label>
                                        </div>
                                        <div class="check-box">
                                            <input type="checkbox" id="shiping_address4" data-shipping="" wfd-id="id12">
                                            <label for="shiping_address4">No</label>
                                        </div>
                                    </div>
                                    <span id="error2" style="font-size:medium"></span>
                                </div>

                                <div class="col-md-8 col-12">
                                    <label>Q: क्या आप व्यवसाय को लेकर गंभीर हो?</label>

                                </div>

                                <div class="col-md-4 col-12">
                                    <div class="col-12 mb--50">
                                        <div class="check-box">
                                            <input type="checkbox" id="create_account5" wfd-id="id11">
                                            <label for="create_account5">Yes</label>
                                        </div>
                                        <div class="check-box">
                                            <input type="checkbox" id="shiping_address06" data-shipping="" wfd-id="id12">
                                            <label for="shiping_address06">No</label>
                                        </div>
                                    </div> 
                                    <span id="error3" style="font-size:medium"></span>
                                </div>

                                <div class="col-md-8 col-12">
                                    <label>Q: क्या आप के अंदर व्यवसाय जोखिम लेने की क्षमता हैं और आप व्यवसाय के जोखिम को अच्छी तरह समझते हो?</label>
                                </div>

                                <div class="col-md-4 col-12">
                                    <div class="col-12 mb--50">
                                        <div class="check-box">
                                            <input type="checkbox" id="create_account6" wfd-id="id11">
                                            <label for="create_account6">Yes</label>
                                        </div>
                                        <div class="check-box">
                                            <input type="checkbox" id="shiping_address7" data-shipping="" wfd-id="id12">
                                            <label for="shiping_address7">No</label>
                                        </div>
                                    </div>
                                    <span id="error4" style="font-size:medium"></span>
                                </div>

                                <div class="col-md-8 col-12">
                                    <label>Q: क्या आप अपने व्यवसाय को पर्याप्त समय और सम्मान देंगे?</label>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="col-12 mb--50">
                                        <div class="check-box">
                                            <input type="checkbox" id="create_account8" wfd-id="id11">
                                            <label for="create_account8">Yes</label>
                                        </div>
                                        <div class="check-box">
                                            <input type="checkbox" id="shiping_address9" data-shipping="" wfd-id="id12">
                                            <label for="shiping_address9">No</label>
                                        </div>
                                    </div>
                                    <span id="error5" style="font-size:medium"></span>
                                </div>

                                <div class="col-md-8 col-12">
                                    <label>Q: क्या आपके अंदर व्यवसाय प्रतियोगिता करने का जज्बा है और मार्केटिंग/प्रॉडक्ट सेल करने की कला हैं?</label>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="col-12 mb--50">
                                        <div class="check-box">
                                            <input type="checkbox" id="create_account14" wfd-id="id11">
                                            <label for="create_account14">Yes</label>
                                        </div>
                                        <div class="check-box">
                                            <input type="checkbox" id="shiping_address15" data-shipping="" wfd-id="id12">
                                            <label for="shiping_address15">No</label>
                                        </div>
                                    </div>
                                    <span id="error8" style="font-size:medium"></span>
                                </div>

                                <div class="col-md-8 col-12">
                                    <label>Q: क्या आपके पास नेतृत्व, निर्णय लेने की क्षमता और टीम भावना है?</label>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="col-12 mb--50">
                                        <div class="check-box">
                                            <input type="checkbox" id="create_account10" wfd-id="id11">
                                            <label for="create_account10">Yes</label>
                                        </div>
                                        <div class="check-box">
                                            <input type="checkbox" id="shiping_address11" data-shipping="" wfd-id="id12">
                                            <label for="shiping_address11">No</label>
                                        </div>
                                    </div>
                                    <span id="error6" style="font-size:medium"></span>
                                </div>

                                <div class="col-md-8 col-12">
                                    <label>Q: क्या आप मेहनत और लगन से बिजनेस करेंगे?</label>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="col-12 mb--50">
                                        <div class="check-box">
                                            <input type="checkbox" id="create_account12" wfd-id="id11">
                                            <label for="create_account12">Yes</label>
                                        </div>
                                        <div class="check-box">
                                            <input type="checkbox" id="shiping_address13" data-shipping="" wfd-id="id12">
                                            <label for="shiping_address13">No</label>
                                        </div>
                                    </div>
                                    <span id="error7" style="font-size:medium"></span>
                                </div>

                                <div class="plceholder-button mt--50">
                                    <a href="result" style="color:#fff;">
                                        <button class="rbt-btn btn-gradient hover-icon-reverse page2">
                                            <span class="icon-reverse-wrapper">
                                                <span class="btn-text">Submit</span>
                                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                            </span>
                                        </button>
                                    </a>
                                </div>
                            </div>

                        </div>



                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="rbt-separator-mid">
        <div class="container">
            <hr class="rbt-separator m-0">
        </div>
    </div>

</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var totalcheckbox = 0;
        $('#error1').hide();
        $('#error2').hide();
        $('#error3').hide();
        $('#error4').hide();
        $('#error5').hide();
        $('#error6').hide();
        $('#error7').hide();
        $('#error8').hide();
        $('.page2').click(function () {
            var ischeckbox=false
            //question1
            if (($('#create_account1').is(":checked") == true) || ($('#shiping_address2').is(":checked") == true)) {
                $('#error1').hide();
            }
            else {
                $('#error1').show();
                $('#error1').text("Please Select One Option").css('color', 'red');
                ischeckbox = false;
            }
            //question 2
            if (($('#create_account3').is(":checked") == true) || ($('#shiping_address4').is(":checked") == true)) {
                $('#error2').hide();
            }
            else {
                $('#error2').show();
                $('#error2').text("Please Select One Option").css('color', 'red');
                ischeckbox = false;
            }
            //question 3
            if (($('#create_account5').is(":checked") == true) || ($('#shiping_address06').is(":checked") == true))
            {
                $('#error3').hide();
            }
            else {
                $('#error3').show();
                $('#error3').text("Please Select One Option").css('color', 'red');
                ischeckbox = false;
            }
            //question 4
            if (($('#create_account6').is(":checked") == true) || ($('#shiping_address7').is(":checked") == true))
        {
                $('#error4').hide();
            }
            else {
                $('#error4').show();
                $('#error4').text("Please Select One Option").css('color', 'red');
                ischeckbox = false;
            }
            //question 5
            if (($('#create_account8').is(":checked") == true) || ($('#shiping_address9').is(":checked") == true)) {
                $('#error5').hide();
            }
            else {
                $('#error5').show();
                $('#error5').text("Please Select One Option").css('color', 'red');
                ischeckbox = false;
            }
            //question 6
            if (($('#create_account10').is(":checked") == true) || ($('#shiping_address11').is(":checked") == true)) {
                $('#error6').hide();
            }
            else {
                $('#error6').show();
                $('#error6').text("Please Select One Option").css('color', 'red');
                ischeckbox = false;
            }
            //question 7
            if (($('#create_account12').is(":checked") == true) || ($('#shiping_address13').is(":checked") == true)) {
                $('#error7').hide();
            }
            else {
                $('#error7').show();
                $('#error7').text("Please Select One Option").css('color', 'red');
                ischeckbox = false;
            }
            //question 8
            if (($('#create_account14').is(":checked") == true) || ($('#shiping_address15').is(":checked") == true)) {
                $('#error8').hide();
            }
            else {
                $('#error8').show();
                $('#error8').text("Please Select One Option").css('color', 'red');
                ischeckbox = false;
            }
            if (ischeckbox == false) {
                return false;
            }
            else {
                page_2();
                return true;
            }
        });

        // check which checkboxe is selected and disable another checkbox 
        $('input[type="checkbox"]').change(function () { 
            if ($('#create_account1').is(":checked") == true) {
                $("#shiping_address2").attr("disabled", "disabled");
            }
            else if ($('#shiping_address2').is(":checked") == true) {
                $("#create_account1").attr("disabled", "disabled")
            }
            else {
                $("#create_account1").removeAttr("disabled")
                $("#shiping_address2").removeAttr("disabled")
            }
             if ($('#create_account3').is(":checked") == true) {
                $("#shiping_address4").attr("disabled", "disabled");
            }
            else if ($('#shiping_address4').is(":checked") == true) {
               
                $("#create_account3").attr("disabled", "disabled")
             }
             else {
                 $("#create_account3").removeAttr("disabled")
                 $("#shiping_address4").removeAttr("disabled")
             }
            if ($('#create_account5').is(":checked") == true) {
                $("#shiping_address06").attr("disabled", "disabled");
            }
            else if ($('#shiping_address06').is(":checked") == true) {
               
                $("#create_account5").attr("disabled", "disabled")
            }
            else {
                $("#create_account5").removeAttr("disabled")
                $("#shiping_address06").removeAttr("disabled")
            }
           if ($('#create_account6').is(":checked") == true) {
                $("#shiping_address7").attr("disabled", "disabled");
            }
            else if ($('#shiping_address7').is(":checked") == true) {
                
                $("#create_account6").attr("disabled", "disabled")
           }
           else {
               $("#create_account6").removeAttr("disabled")
               $("#shiping_address7").removeAttr("disabled")
           }
            if ($('#create_account8').is(":checked") == true) {
                $("#shiping_address9").attr("disabled", "disabled");
            }
            else if ($('#shiping_address9').is(":checked") == true) {
                
                $("#create_account8").attr("disabled", "disabled")
            }
            else {
                $("#create_account8").removeAttr("disabled")
                $("#shiping_address9").removeAttr("disabled")
            }
            if ($('#create_account10').is(":checked") == true) {
                $("#shiping_address11").attr("disabled", "disabled");
            }
            else if ($('#shiping_address11').is(":checked") == true) {
               
                $("#create_account10").attr("disabled", "disabled")
            }
            else {
                $("#create_account10").removeAttr("disabled")
                $("#shiping_address11").removeAttr("disabled")
            }
            if ($('#create_account12').is(":checked") == true) {
                $("#shiping_address13").attr("disabled", "disabled");
            }
            else if ($('#shiping_address13').is(":checked") == true) {
               
                $("#create_account12").attr("disabled", "disabled")
            }
            else {
                $("#create_account12").removeAttr("disabled")
                $("#shiping_address13").removeAttr("disabled")
            }
            if ($('#create_account14').is(":checked") == true) {
                $("#shiping_address15").attr("disabled", "disabled");
            }
            else if ($('#shiping_address15').is(":checked") == true) {
              
                $("#create_account14").attr("disabled", "disabled")
            }
            else {  
                $("#create_account14").removeAttr("disabled")         
                $("#shiping_address15").removeAttr("disabled")
            }
            });
        
    });
    function page_2()
    {
        //debugger
        //get sum of previous page from local storage
        var Page1_Sum = localStorage.getItem("Page1Sum")
        var Page1_2total = 0;
        var question1 = 0;
        var question2 = 0;
        var question3 = 0;
        var question4 = 0;
        var question5 = 0;
        var question6 = 0;
        var question7 = 0;
        var question8 = 0;
        if ($('#create_account1').is(":checked") == true) {
            question1 = 5;
        }
        else {
            question1 = 0;
        }
        if ($('#create_account3').is(":checked") == true) {
            question2 = 5;
        }
        else {
            question2 = 0;
        }
        if ($('#create_account5').is(":checked") == true) {
            question3 = 5;
        }
        else {
            question3 = 0;
        }
        if ($('#create_account6').is(":checked") == true) {
            question4 = 5;
        }
        else {
            question4 = 0;
        }
        if ($('#create_account8').is(":checked") == true) {
            question5 = 5;
        }
        else {
            question5 = 0;
        }
        if ($('#create_account10').is(":checked") == true) {
            question6 = 5;
        }
        else {
            question6 = 0;
        }
        if ($('#create_account12').is(":checked") == true) {
            question7 = 5;
        }
        else {
            question7 = 0;
        }
        if ($('#create_account14').is(":checked") == true) {
            question8 = 5;
        }
        else {
            question8 = 0;
        }
        totalcheckbox = question1 + question2 + question3 + question4 + question5 + question6 + question7 + question8;
        Page1_2total = totalcheckbox + parseInt(Page1_Sum);
        localStorage.setItem("PagesSum", Page1_2total);
    }
</script>