
@{
    ViewBag.Title = "AddBusinessIdeas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Start breadcrumb Area -->
<div class="rbt-breadcrumb-default ptb--50 ptb_md--50 ptb_sm--30 bg-gradient-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner text-center">
                    <h2 class="title">Our Services</h2>
                    <ul class="page-list">
                        <li class="rbt-breadcrumb-item"><a href="index">Home</a></li>
                        <li>
                            <div class="icon-right"><i class="feather-chevron-right"></i></div>
                        </li>
                        <li class="rbt-breadcrumb-item active">Our Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb Area -->

<div class="rbt-rbt-blog-area bg-color-white" id="blog" style="padding-top:10px; padding-bottom:70px;">
    <div class="container">


        <!-- Start Card Area -->
        <div class="row g-5 mt--30">
            <!-- Start Single Card  -->
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt--30">
                <div class="rbt-card variation-02 rbt-hover">
                    <div class="rbt-card-img">
                        <a href="contact-us">
                            <img src="~/Content/assets/images/vitg.png" alt="Card image">
                        </a>
                    </div>
                    <div class="rbt-card-body">
                        <h5 class="rbt-card-title"><a href="contact-us">Entrepreneur</a></h5>
                        <p class="rbt-card-text">We Makes Complete Enterpreneur </p>
                        <div class="rbt-card-bottom">
                            <a class="transparent-button" href="contact-us">
                                Learn
                                More<i><svg width="17" height="12" xmlns="http://www.w3.org/2000/svg"><g stroke="#27374D" fill="none" fill-rule="evenodd"><path d="M10.614 0l5.629 5.629-5.63 5.629"></path><path stroke-linecap="square" d="M.663 5.572h14.594"></path></g></svg></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->
            <!-- Start Single Card  -->
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt--30">
                <div class="rbt-card variation-02 rbt-hover">
                    <div class="rbt-card-img">
                        <a href="contact-us">
                            <img src="~/Content/assets/images/bt.png" alt="Card image">
                        </a>
                    </div>
                    <div class="rbt-card-body">
                        <h5 class="rbt-card-title"><a href="contact-us">Buisness Training</a></h5>
                        <p class="rbt-card-text">Guiding individuals on their pathways to conduct business efficiently</p>
                        <div class="rbt-card-bottom">
                            <a class="transparent-button" href="contact-us">
                                Learn
                                More<i><svg width="17" height="12" xmlns="http://www.w3.org/2000/svg"><g stroke="#27374D" fill="none" fill-rule="evenodd"><path d="M10.614 0l5.629 5.629-5.63 5.629"></path><path stroke-linecap="square" d="M.663 5.572h14.594"></path></g></svg></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->
            <!-- Start Single Card  -->
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt--30">
                <div class="rbt-card variation-02 rbt-hover">
                    <div class="rbt-card-img">
                        <a href="contact-us">
                            <img src="~/Content/assets/images/gov.png" alt="Card image">
                        </a>
                    </div>
                    <div class="rbt-card-body">
                        <h5 class="rbt-card-title"><a href="contact-us">Government Scheme </a></h5>
                        <p class="rbt-card-text">Government Subsidy Scheme Knowledge</p>
                        <div class="rbt-card-bottom">
                            <a class="transparent-button" href="contact-us">
                                Learn
                                More<i><svg width="17" height="12" xmlns="http://www.w3.org/2000/svg"><g stroke="#27374D" fill="none" fill-rule="evenodd"><path d="M10.614 0l5.629 5.629-5.63 5.629"></path><path stroke-linecap="square" d="M.663 5.572h14.594"></path></g></svg></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->
            <!-- Start Single Card  -->
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt--30">
                <div class="rbt-card variation-02 rbt-hover">
                    <div class="rbt-card-img">
                        <a href="contact-us">
                            <img src="~/Content/assets/images/loans.png" alt="Card image">
                        </a>
                    </div>
                    <div class="rbt-card-body">
                        <h5 class="rbt-card-title"><a href="contact-us">Loans Assistant</a></h5>
                        <p class="rbt-card-text">Vital knowledge of loans</p>
                        <div class="rbt-card-bottom">
                            <a class="transparent-button" href="contact-us">
                                Learn
                                More<i><svg width="17" height="12" xmlns="http://www.w3.org/2000/svg"><g stroke="#27374D" fill="none" fill-rule="evenodd"><path d="M10.614 0l5.629 5.629-5.63 5.629"></path><path stroke-linecap="square" d="M.663 5.572h14.594"></path></g></svg></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->
            <!-- Start Single Card  -->
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt--30">
                <div class="rbt-card variation-02 rbt-hover">
                    <div class="rbt-card-img">
                        <a href="contact-us">
                            <img src="~/Content/assets/images/tbi.png" alt="Card image">
                        </a>
                    </div>
                    <div class="rbt-card-body">
                        <h5 class="rbt-card-title"><a href="contact-us">Trending Buisness Ideas</a></h5>
                        <p class="rbt-card-text">Empowering individual to succeed in their pursuits.</p>
                        <div class="rbt-card-bottom">
                            <a class="transparent-button" href="contact-us">
                                Learn
                                More<i><svg width="17" height="12" xmlns="http://www.w3.org/2000/svg"><g stroke="#27374D" fill="none" fill-rule="evenodd"><path d="M10.614 0l5.629 5.629-5.63 5.629"></path><path stroke-linecap="square" d="M.663 5.572h14.594"></path></g></svg></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->
            <!-- Start Single Card  -->
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt--30">
                <div class="rbt-card variation-02 rbt-hover">
                    <div class="rbt-card-img">
                        <a href="contact-us">
                            <img src="~/Content/assets/images/bs-v.png" alt="Card image">
                        </a>
                    </div>
                    <div class="rbt-card-body">
                        <h5 class="rbt-card-title"><a href="contact-us">Expert Advice</a></h5>
                        <p class="rbt-card-text">Empowering individual to succeed in their pursuits.</p>
                        <div class="rbt-card-bottom">
                            <a class="transparent-button" href="contact-us">
                                Learn
                                More<i><svg width="17" height="12" xmlns="http://www.w3.org/2000/svg"><g stroke="#27374D" fill="none" fill-rule="evenodd"><path d="M10.614 0l5.629 5.629-5.63 5.629"></path><path stroke-linecap="square" d="M.663 5.572h14.594"></path></g></svg></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->

        </div>
        <!-- End Card Area -->
    </div>
</div>

<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>


