
@{
    ViewBag.Title = "AddBusinessIdeas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="rbt-header-sticky">

    <!-- Start Header Area -->
    <!-- Mobile Menu Section -->
    <div class="popup-mobile-menu">
        <div class="inner-wrapper">
            <div class="inner-top">
                <div class="content">
                    <div class="logo">
                        <a href="index">
                            <img src="~/Content/assets/images/logo.png" alt="Education Logo Images">
                        </a>
                    </div>
                    <div class="rbt-btn-close">
                        <button class="close-button rbt-round-btn"><i class="feather-x"></i></button>
                    </div>
                </div>
                <ul class="navbar-top-left rbt-information-list justify-content-start" style="padding-top:30px;">
                    <li>
                        <a href="mailto:info@vitkund.com"><i class="feather-mail"></i>info@vitkund.com</a>
                    </li>
                    <li>
                        <a href="tel:8607609898"><i class="feather-phone"></i>8607609898</a>
                    </li>
                </ul>
            </div>

            <nav class="mainmenu-nav">
                <ul class="mainmenu">
                    <li><a href="index">Home</a></li>
                    <li><a href="about-us">About Us</a></li>
                    <li><a href="course">Courses</a></li>
                    <li><a href="our-services">Our Services</a></li>
                    <li><a href="plan">Plan</a></li>
                    <li><a href="faq">FAQ</a></li>
                    <li><a href="contact-us">Contact Us</a></li>
                </ul>
            </nav>

            <div class="mobile-menu-bottom">
                <div class="rbt-btn-wrapper mb--20">
                    <a class="rbt-btn blink btn-border-gradient radius-round btn-sm hover-transform-none w-100 justify-content-center text-center" href="vitkund">
                        <span>Vitkund Gaon</span>
                    </a>

                </div>

                <div class="social-share-wrapper">
                    <span class="rbt-short-title d-block">Find With Us</span>
                    <ul class="social-icon social-default transparent-with-border justify-content-start mt--20">
                        <li>
                            <a href="https://m.facebook.com/profile.php?id=100087627835593&mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>
                        </li>

                        <li>
                            <a href="https://instagram.com/vitkund"><i class="fab fa-instagram"></i></a>
                        </li>

                        <li>
                            <a href="https://www.youtube.com/@("@vitkund")"><i class="fab fa-youtube"></i></a>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </div>

    <a class="close_side_menu" href="javascript:void(0);"></a>

    <!-- Start breadcrumb Area -->
    <div class="rbt-breadcrumb-default ptb--50 ptb_md--50 ptb_sm--30 bg-gradient-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inner text-center">
                        <h2 class="title">Our Services</h2>
                        <ul class="page-list">
                            <li class="rbt-breadcrumb-item"><a href="index">Home</a></li>
                            <li>
                                <div class="icon-right"><i class="feather-chevron-right"></i></div>
                            </li>
                            <li class="rbt-breadcrumb-item active">Our Services</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb Area -->

    <div class="rbt-rbt-blog-area bg-color-white" id="blog" style="padding-top:10px; padding-bottom:70px;">
        <div class="container">


            <!-- Start Card Area -->
            <div class="row g-5 mt--30">
                <!-- Start Single Card  -->
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt--30">
                    <div class="rbt-card variation-02 rbt-hover">
                        <div class="rbt-card-img">
                            <a href="contact-us">
                                <img src="~/Content/assets/images/off1.png" alt="Card image">
                            </a>
                        </div>
                        <div class="rbt-card-body">
                            <h5 class="rbt-card-title"><a href="contact-us">Entrepreneur</a></h5>
                            <p class="rbt-card-text">We Makes Complete Enterpreneur </p>
                            <div class="rbt-card-bottom">
                                <a class="transparent-button" href="contact-us">
                                    Learn
                                    More<i><svg width="17" height="12" xmlns="http://www.w3.org/2000/svg"><g stroke="#27374D" fill="none" fill-rule="evenodd"><path d="M10.614 0l5.629 5.629-5.63 5.629"></path><path stroke-linecap="square" d="M.663 5.572h14.594"></path></g></svg></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Card  -->
                <!-- Start Single Card  -->
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt--30">
                    <div class="rbt-card variation-02 rbt-hover">
                        <div class="rbt-card-img">
                            <a href="contact-us">
                                <img src="~/Content/assets/images/off2.png" alt="Card image">
                            </a>
                        </div>
                        <div class="rbt-card-body">
                            <h5 class="rbt-card-title"><a href="contact-us">Buisness Training</a></h5>
                            <p class="rbt-card-text">Guiding individuals on their pathways to conduct business efficiently</p>
                            <div class="rbt-card-bottom">
                                <a class="transparent-button" href="contact-us">
                                    Learn
                                    More<i><svg width="17" height="12" xmlns="http://www.w3.org/2000/svg"><g stroke="#27374D" fill="none" fill-rule="evenodd"><path d="M10.614 0l5.629 5.629-5.63 5.629"></path><path stroke-linecap="square" d="M.663 5.572h14.594"></path></g></svg></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Card  -->
                <!-- Start Single Card  -->
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt--30">
                    <div class="rbt-card variation-02 rbt-hover">
                        <div class="rbt-card-img">
                            <a href="contact-us">
                                <img src="~/Content/assets/images/off3.png" alt="Card image">
                            </a>
                        </div>
                        <div class="rbt-card-body">
                            <h5 class="rbt-card-title"><a href="contact-us">Government Scheme </a></h5>
                            <p class="rbt-card-text">Government Subsidy Scheme Knowledge</p>
                            <div class="rbt-card-bottom">
                                <a class="transparent-button" href="contact-us">
                                    Learn
                                    More<i><svg width="17" height="12" xmlns="http://www.w3.org/2000/svg"><g stroke="#27374D" fill="none" fill-rule="evenodd"><path d="M10.614 0l5.629 5.629-5.63 5.629"></path><path stroke-linecap="square" d="M.663 5.572h14.594"></path></g></svg></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Card  -->
                <!-- Start Single Card  -->
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt--30">
                    <div class="rbt-card variation-02 rbt-hover">
                        <div class="rbt-card-img">
                            <a href="contact-us">
                                <img src="~/Content/assets/images/office.png" alt="Card image">
                            </a>
                        </div>
                        <div class="rbt-card-body">
                            <h5 class="rbt-card-title"><a href="contact-us">Loans Assistant</a></h5>
                            <p class="rbt-card-text">Vital knowledge of loans</p>
                            <div class="rbt-card-bottom">
                                <a class="transparent-button" href="contact-us">
                                    Learn
                                    More<i><svg width="17" height="12" xmlns="http://www.w3.org/2000/svg"><g stroke="#27374D" fill="none" fill-rule="evenodd"><path d="M10.614 0l5.629 5.629-5.63 5.629"></path><path stroke-linecap="square" d="M.663 5.572h14.594"></path></g></svg></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Card  -->
                <!-- Start Single Card  -->
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt--30">
                    <div class="rbt-card variation-02 rbt-hover">
                        <div class="rbt-card-img">
                            <a href="contact-us">
                                <img src="~/Content/assets/images/off5.png" alt="Card image">
                            </a>
                        </div>
                        <div class="rbt-card-body">
                            <h5 class="rbt-card-title"><a href="contact-us">Trending Buisness Ideas</a></h5>
                            <p class="rbt-card-text">Empowering individual to succeed in their pursuits.</p>
                            <div class="rbt-card-bottom">
                                <a class="transparent-button" href="contact-us">
                                    Learn
                                    More<i><svg width="17" height="12" xmlns="http://www.w3.org/2000/svg"><g stroke="#27374D" fill="none" fill-rule="evenodd"><path d="M10.614 0l5.629 5.629-5.63 5.629"></path><path stroke-linecap="square" d="M.663 5.572h14.594"></path></g></svg></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Card  -->
                <!-- Start Single Card  -->
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt--30">
                    <div class="rbt-card variation-02 rbt-hover">
                        <div class="rbt-card-img">
                            <a href="contact-us">
                                <img src="~/Content/assets/images/off7.png" alt="Card image">
                            </a>
                        </div>
                        <div class="rbt-card-body">
                            <h5 class="rbt-card-title"><a href="contact-us">Expert Advice</a></h5>
                            <p class="rbt-card-text">Empowering individual to succeed in their pursuits.</p>
                            <div class="rbt-card-bottom">
                                <a class="transparent-button" href="contact-us">
                                    Learn
                                    More<i><svg width="17" height="12" xmlns="http://www.w3.org/2000/svg"><g stroke="#27374D" fill="none" fill-rule="evenodd"><path d="M10.614 0l5.629 5.629-5.63 5.629"></path><path stroke-linecap="square" d="M.663 5.572h14.594"></path></g></svg></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Card  -->

            </div>
            <!-- End Card Area -->
        </div>
    </div>

    <div class="rbt-separator-mid">
        <div class="container">
            <hr class="rbt-separator m-0">
        </div>
    </div>


    <!-- JS
    ============================================ -->
    <!-- Modernizer JS -->
    <script src="~/Content/assets/js/vendor/modernizr.min.js"></script>
    <!-- jQuery JS -->
    <script src="~/Content/assets/js/vendor/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/Content/assets/js/vendor/bootstrap.min.js"></script>
    <!-- sal.js -->
    <script src="~/Content/assets/js/vendor/sal.js"></script>
    <script src="~/Content/assets/js/vendor/swiper.js"></script>
    <script src="~/Content/assets/js/vendor/magnify.min.js"></script>
    <script src="~/Content/assets/js/vendor/jquery-appear.js"></script>
    <script src="~/Content/assets/js/vendor/odometer.js"></script>
    <script src="~/Content/assets/js/vendor/backtotop.js"></script>
    <script src="~/Content/assets/js/vendor/isotop.js"></script>
    <script src="~/Content/assets/js/vendor/imageloaded.js"></script>

    <script src="~/Content/assets/js/vendor/wow.js"></script>
    <script src="~/Content/assets/js/vendor/waypoint.min.js"></script>
    <script src="~/Content/assets/js/vendor/easypie.js"></script>
    <script src="~/Content/assets/js/vendor/text-type.js"></script>
    <script src="~/Content/assets/js/vendor/jquery-one-page-nav.js"></script>
    <script src="~/Content/assets/js/vendor/bootstrap-select.min.js"></script>
    <script src="~/Content/assets/js/vendor/jquery-ui.js"></script>
    <script src="~/Content/assets/js/vendor/magnify-popup.min.js"></script>
    <script src="~/Content/assets/js/vendor/paralax-scroll.js"></script>
    <script src="~/Content/assets/js/vendor/paralax.min.js"></script>
    <script src="~/Content/assets/js/vendor/countdown.js"></script>
    <script src="~/Content/assets/js/vendor/plyr.js"></script>
    <!-- Main JS -->
    <script src="~/Content/assets/js/main.js"></script>
</body>
