<!-- Start breadcrumb Area -->
<div class="rbt-breadcrumb-default ptb--50 ptb_md--50 ptb_sm--30 bg-gradient-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner text-center">
                    <h2 class="title">Plan</h2>
                    <ul class="page-list">
                        <li class="rbt-breadcrumb-item"><a href="index">Home</a></li>
                        <li>
                            <div class="icon-right"><i class="feather-chevron-right"></i></div>
                        </li>
                        <li class="rbt-breadcrumb-item active">Plan</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb Area -->

<div class="rbt-pricing-area bg-color-white rbt-section-gap">
    <div class="container">

        <div class="row g-5">
            <!-- Start Single Pricing  -->
            <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                <div class="pricing-table">
                    <div class="pricing-header">
                        <h3 class="title">Gold</h3>
                        <div class="price-wrap">
                            <div class="monthly-pricing" style="display: block;">
                                <span class="amount"><i class="fas fa-rupee-sign"></i> 12500</span>
                                <span class="duration">/(12 Month)</span>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-body">
                        <ul class="list-item">
                            <li><i class="feather-check"></i> Vitkund Gaon</li>
                            <li><i class="feather-check"></i> Vitkund Video Library</li>
                            <li><i class="feather-check"></i> Motivational Stories & Quotes.</li>
                            <li><i class="feather-check"></i> WharsApp Support</li>
                            <li><i class="feather-check"></i> Expert Advise</li>
                            <li><i class="feather-check"></i> Trending Business Ideas</li>
                            <li><i class="feather-check"></i> Funding Advise</li>
                            <li><i class="feather-check"></i> SWOT Analysis</li>
                            <li><i class="feather-check"></i> New Invention in Running Business</li>
                            <li><i class="feather-check"></i> Government Subsidy Scheme Knowledge</li>
                            <li><i class="feather-check"></i> Plan Validity For 12 Month</li>
                        </ul>
                    </div>
                    <div class="pricing-btn">
                        <a class="rbt-btn btn-gradient hover-icon-reverse w-100" href="/vitkund">
                            <div class="icon-reverse-wrapper">
                                <span class="btn-text">Buy Now</span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Single Pricing  -->
            <!-- Start Single Pricing  -->
            <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                <div class="pricing-table active">
                    <div class="pricing-header">
                        <h3 class="title">Silver </h3>
                        <div class="price-wrap">
                            <div class="monthly-pricing" style="display: block;">
                                <span class="amount"><i class="fas fa-rupee-sign"></i> 10000</span>
                                <span class="duration">/(9 Month)</span>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-body">
                        <ul class="list-item">
                            <li><i class="feather-check"></i> Vitkund Gaon</li>
                            <li><i class="feather-check"></i> Vitkund Video Library</li>
                            <li><i class="feather-check"></i> Motivational Stories & Quotes.</li>
                            <li><i class="feather-check"></i> WharsApp Support</li>
                            <li><i class="feather-check"></i> Expert Advise</li>
                            <li><i class="feather-check"></i> Trending Business Ideas</li>
                            <li><i class="feather-check"></i> Funding Advise</li>
                            <li><i class="feather-check"></i> SWOT Analysis</li>
                            <li><i class="feather-check"></i> New Invention in Running Business</li>
                            <li><i class="feather-check"></i> Government Subsidy Scheme Knowledge</li>

                            <li><i class="feather-check"></i> Plan Validity For 9 Month</li>
                        </ul>
                    </div>
                    <div class="pricing-btn">
                        <a class="rbt-btn btn-gradient hover-icon-reverse w-100" href="/vitkund">
                            <div class="icon-reverse-wrapper">
                                <span class="btn-text">Buy Now</span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Single Pricing  -->
            <!-- Start Single Pricing  -->
            <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                <div class="pricing-table">
                    <div class="pricing-header">
                        <h3 class="title">Clasic</h3>
                        <div class="price-wrap">
                            <div class="monthly-pricing" style="display: block;">
                                <span class="amount"><i class="fas fa-rupee-sign"></i> 7500</span>
                                <span class="duration">/(6 Month)</span>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-body">
                        <ul class="list-item">
                            <li><i class="feather-check"></i> Vitkund Gaon</li>
                            <li><i class="feather-check"></i> Vitkund Video Library</li>
                            <li><i class="feather-check"></i> Motivational Stories & Quotes.</li>
                            <li><i class="feather-check"></i> WharsApp Support</li>
                            <li><i class="feather-check"></i> Expert Advise</li>
                            <li><i class="feather-check"></i> Trending Business Ideas</li>
                            <li><i class="feather-check"></i> Funding Advise</li>
                            <li><i class="feather-check"></i> SWOT Analysis</li>
                            <li><i class="feather-check"></i> New Invention in Running Business</li>
                            <li><i class="feather-check"></i> Government Subsidy Scheme Knowledge</li>
                            <li><i class="feather-check"></i> Plan Validity For 6 Month</li>
                        </ul>
                    </div>
                    <div class="pricing-btn">
                        <a class="rbt-btn btn-gradient hover-icon-reverse w-100" href="/vitkund">
                            <div class="icon-reverse-wrapper">
                                <span class="btn-text">Buy Now</span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Single Pricing  -->
            <!-- Start Single Pricing  -->
            <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                <div class="pricing-table">
                    <div class="pricing-header">
                        <h3 class="title">Pro (Recommended)</h3>
                        <div class="price-wrap">
                            <div class="monthly-pricing" style="display: block;">
                                <span class="amount"><i class="fas fa-rupee-sign"></i> 5000</span>
                                <span class="duration">/(3 Month)</span>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-body">
                        <ul class="list-item">
                            <li><i class="feather-check"></i> Vitkund Gaon</li>
                            <li><i class="feather-check"></i> Vitkund Video Library</li>
                            <li><i class="feather-check"></i> Motivational Stories & Quotes.</li>
                            <li><i class="feather-check"></i> WharsApp Support</li>
                            <li><i class="feather-check"></i> Expert Advise</li>
                            <li><i class="feather-check"></i> Trending Business Ideas</li>
                            <li><i class="feather-check"></i> Funding Advise</li>
                            <li><i class="feather-check"></i> SWOT Analysis</li>
                            <li><i class="feather-check"></i> New Invention in Running Business</li>
                            <li><i class="feather-check"></i> Government Subsidy Scheme Knowledge</li>
                            <li><i class="feather-check"></i> Plan Validity For 3 Month</li>
                        </ul>
                    </div>

                    <div class="pricing-btn">
                        <a class="rbt-btn btn-gradient hover-icon-reverse w-100" href="/vitkund">
                            <div class="icon-reverse-wrapper">
                                <span class="btn-text">Buy Now</span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Single Pricing  -->
        </div>

    </div>
</div>

<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>

