
<!DOCTYPE html>
<html lang="en">



<body class="rbt-header-sticky">

    <!-- Start Header Area -->
    <!-- Mobile Menu Section -->
    <div class="popup-mobile-menu">
        <div class="inner-wrapper">
            <div class="inner-top">
                <div class="content">
                    <div class="logo">
                        <a href="index">
                            <img src="~/Content/assets/images/logo.png" alt="Education Logo Images">
                        </a>
                    </div>
                    <div class="rbt-btn-close">
                        <button class="close-button rbt-round-btn"><i class="feather-x"></i></button>
                    </div>
                </div>
                <ul class="navbar-top-left rbt-information-list justify-content-start" style="padding-top:30px;">
                    <li>
                        <a href="mailto:info@vitkund.com"><i class="feather-mail"></i>info@vitkund.com</a>
                    </li>
                    <li>
                        <a href="tel:8607609898"><i class="feather-phone"></i>8607609898</a>
                    </li>
                </ul>
            </div>

            <nav class="mainmenu-nav">
                <ul class="mainmenu">
                    <li><a href="index">Home</a></li>
                    <li><a href="about-us">About Us</a></li>
                    <li><a href="course">Courses</a></li>
                    <li><a href="our-services">Our Services</a></li>
                    <li><a href="plan">Plan</a></li>
                    <li><a href="faq">FAQ</a></li>
                    <li><a href="contact-us">Contact Us</a></li>
                </ul>
            </nav>

            <div class="mobile-menu-bottom">
                <div class="rbt-btn-wrapper mb--20">
                    <a class="rbt-btn btn-border-gradient radius-round btn-sm hover-transform-none w-100 justify-content-center text-center" href="vitkund">
                        <span>Vitkund Test</span>
                    </a>

                </div>

                <div class="social-share-wrapper">
                    <span class="rbt-short-title d-block">Find With Us</span>
                    <ul class="social-icon social-default transparent-with-border justify-content-start mt--20">
                        <li>
                            <a href="https://www.facebook.com/">
                                <i class="feather-facebook"></i>
                            </a>
                        </li>

                        <li>
                            <a href="https://www.instagram.com/">
                                <i class="feather-instagram"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </div>

    <a class="close_side_menu" href="javascript:void(0);"></a>

    <!-- Start breadcrumb Area -->
    <div class="rbt-breadcrumb-default ptb--50 ptb_md--50 ptb_sm--30 bg-gradient-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inner text-center">
                        <h2 class="title">Refer to Friend</h2>
                        <ul class="page-list">
                            <li class="rbt-breadcrumb-item"><a href="index">Home</a></li>
                            <li>
                                <div class="icon-right"><i class="feather-chevron-right"></i></div>
                            </li>
                            <li class="rbt-breadcrumb-item active">Refer to Friend</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb Area -->


    <div class="checkout_area bg-color-white" style="padding-top:30px; padding-bottom:50px;">
        <div class="container">
            <div class="row g-5 checkout-form">

                <div class="col-lg-6 offset-lg-3">
                    <div class="rbt-contact-form contact-form-style-1 max-width-auto">

                        <form class="max-width-auto">
                            <div class="form-group">
                                <input name="con_name" type="text">
                                <label>Mobile or Email *</label>
                                <span class="focus-border"></span>
                            </div>
                            <div class="form-group">
                                <input name="con_email" type="email">
                                <label>Name *</label>
                                <span class="focus-border"></span>
                            </div>



                            <div class="form-submit-group">
                                <button type="submit" class="rbt-btn btn-md btn-gradient hover-icon-reverse w-100">
                                    <span class="icon-reverse-wrapper">
                                        <span class="btn-text">Refer</span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    </span>
                                </button>
                            </div>
                            <br />
                            <div class="text-center" style="">
                                <p>OR</p>
                                <a class="rbt-btn-link" href="signup">Refer to Friend You Will Get a Surprize Gift</a>
                            </div>
                        </form>
                    </div>

                </div>


            </div>
        </div>
    </div>

    <div class="rbt-separator-mid">
        <div class="container">
            <hr class="rbt-separator m-0">
        </div>
    </div>

    <!-- JS
    ============================================ -->
    <!-- Modernizer JS -->
    <script src="~/Content/assets/js/vendor/modernizr.min.js"></script>
    <!-- jQuery JS -->
    <script src="~/Content/assets/js/vendor/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/Content/assets/js/vendor/bootstrap.min.js"></script>
    <!-- sal.js -->
    <script src="~/Content/assets/js/vendor/sal.js"></script>
    <script src="~/Content/assets/js/vendor/swiper.js"></script>
    <script src="~/Content/assets/js/vendor/magnify.min.js"></script>
    <script src="~/Content/assets/js/vendor/jquery-appear.js"></script>
    <script src="~/Content/assets/js/vendor/odometer.js"></script>
    <script src="~/Content/assets/js/vendor/backtotop.js"></script>
    <script src="~/Content/assets/js/vendor/isotop.js"></script>
    <script src="~/Content/assets/js/vendor/imageloaded.js"></script>

    <script src="~/Content/assets/js/vendor/wow.js"></script>
    <script src="~/Content/assets/js/vendor/waypoint.min.js"></script>
    <script src="~/Content/assets/js/vendor/easypie.js"></script>
    <script src="~/Content/assets/js/vendor/text-type.js"></script>
    <script src="~/Content/assets/js/vendor/jquery-one-page-nav.js"></script>
    <script src="~/Content/assets/js/vendor/bootstrap-select.min.js"></script>
    <script src="~/Content/assets/js/vendor/jquery-ui.js"></script>
    <script src="~/Content/assets/js/vendor/magnify-popup.min.js"></script>
    <script src="~/Content/assets/js/vendor/paralax-scroll.js"></script>
    <script src="~/Content/assets/js/vendor/paralax.min.js"></script>
    <script src="~/Content/assets/js/vendor/countdown.js"></script>
    <script src="~/Content/assets/js/vendor/plyr.js"></script>
    <!-- Main JS -->
    <script src="~/Content/assets/js/main.js"></script>
</body>

</html>