
@{
    ViewBag.Title = "Refund Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Start breadcrumb Area -->
<div class="rbt-breadcrumb-default ptb--50 ptb_md--50 ptb_sm--30 bg-gradient-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner text-center">
                    <h2 class="title">Refund Policy</h2>
                    <ul class="page-list">
                        <li class="rbt-breadcrumb-item"><a href="index">Home</a></li>
                        <li>
                            <div class="icon-right"><i class="feather-chevron-right"></i></div>
                        </li>
                        <li class="rbt-breadcrumb-item active">Refund Policy</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb Area -->

<div class="rbt-pricing-area bg-color-white" style="padding-top:50px; padding-bottom:50px;">
    <div class="container">

        <div class="px-30">
            <p>
                <span style="font-size:14px">
                    <strong>Refund Policy:</strong>
                    <br /> <br>

                    1. A customer can ask for a refund only within 24 hours of the purchase.
                    <br>
                    <br>
                    2. No Refund shall be given to the customer for the purchase of any package made by the customer directly from the Vitkund website or through the affiliate link of the person who referred him to the Vitkund website after 24 Hours of purchase, under any circumstances.
                    <br>
                    <br>
                    3. No refund shall be given to any customer for any upgraded package of Vitkund, under any circumstances.
                    <br>
                    <br>
                    4. A payment gateway fee @@ 2% of the paid amount and a processing fee @@5% of the paid amount shall be deducted from the amount to be refunded.
                    <br>
                </span>
            </p>
            </div>
        </div>
    </div>
