<style>


    .header {
        background-color: #29384D;
        height: 40px;
        color: #929DAF;
        text-align: center;
        line-height: 40px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        font-weight: 400;
        font-size: 1.5em;
        text-shadow: 1px 1px #06060d;
    }


    #chartdiv {
        width: 100%;
        height: 360px;
        font-size: 11px;
    }
</style>
<!-- Start Header Area -->
<!-- Start breadcrumb Area -->
<div class="rbt-breadcrumb-default ptb--50 ptb_md--50 ptb_sm--30 bg-gradient-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner text-center">
                    <h2 class="title">Result</h2>
                    <ul class="page-list">
                        <li class="rbt-breadcrumb-item"><a href="index">Home</a></li>
                        <li>
                            <div class="icon-right"><i class="feather-chevron-right"></i></div>
                        </li>
                        <li class="rbt-breadcrumb-item active">Result</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb Area -->

<main class="rbt-main-wrapper">



    <div class="checkout_area bg-color-white" style="padding-top:30px; padding-bottom:50px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <!-- partial:index.partial.html -->
                    <script src="../Content/assets/js/amcharts.js"></script>
                    <script src="../Content/assets/js/pie.js"></script>
                    <script src="../Content/assets/js/light.js"></script>

                    <div id="chartdiv"></div>

                    <!-- partial -->
                    <script>
                    
                        var chart = AmCharts.makeChart("chartdiv", {
                            "type": "pie",
                            "theme": "light",
                            "dataProvider": [{
                                "country": "वयः",
                                "litres": parseInt(localStorage.getItem("Age"))
                            }, {
                                "country": "निर्मिमीते",
                                "litres": parseInt(localStorage.getItem("Firms"))
                            }, {
                                "country": "पठन ",
                                "litres": parseInt(localStorage.getItem("Education"))
                            }, {
                                "country": "लाभः प्रतिशतः",
                                "litres": parseInt(localStorage.getItem("Percent"))
                            }, {
                                "country": "अनुभव: ",
                                "litres": parseInt(localStorage.getItem("Experience"))
                            }, {
                                "country": "परिसर",
                                "litres": parseInt(localStorage.getItem("Premises"))
                            }, {
                                "country": "वित्त",
                                "litres": parseInt(localStorage.getItem("Capital"))
                            }, {
                                "country": "मालस्य उपलब्धता",
                                "litres": parseInt(localStorage.getItem("Material"))
                            }, {
                                "country": "अनुसंधानम:",
                                "litres": parseInt(localStorage.getItem("Research"))
                            },
                            {
                                "country": "विपणनम्",
                                "litres": parseInt(localStorage.getItem("Market"))
                            },
                            {
                                "country": "अंक",
                                "litres": parseInt(localStorage.getItem("Cibil"))
                            },
                            {
                                "country": "विशेषज्ञाः",
                                "litres": parseInt(localStorage.getItem("Expertise"))
                            }],
                            "valueField": "litres",
                            "titleField": "country",
                            "balloon": {
                                "fixedPosition": true
                            },
                            "export": {
                                "enabled": true
                            }
                        });
                    </script>
                </div>
                <div class="col-lg-6" style="padding-top:50px;">
                    <ol class="legend">
                        <li class="keyone">> 76 Extremly Recommended</li>
                        <li class="keytwo">> 70-75 Highly Recommended</li>
                        <li class="keythree">>60 - 69 Recommended</li>
                        <li class="keyfour">> 50 - 59 Go Ahead</li>
                        <li class="keysix">> 40 - 49 Need Improvement</li>
                        <li class="keyfive"> Below 39 Not to Go Ahead</li>

                    </ol>
                </div>
                   <span id="finalresult" style="color:red;text-align:center"></span>
               
                <div class="col-lg-12">
                    <div class="pricing-btn-group text-center" style="margin-top:50px;">
                        <button class="rbt-btn btn-gradient finalpayment">Pay Now</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="rbt-separator-mid">
        <div class="container">
            <hr class="rbt-separator m-0">
        </div>
    </div>


</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="~/Content/assets/js/script.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#finalresult').hide();
        result();
        $('.finalpayment').click(function () {
            localStorage.clear();
        });
    });
    function result() {
        //debugger
        var totalsum = localStorage.getItem("PagesSum")
        if (totalsum >= 76) {
            $(".keyone").css("background-color", "yellow");
            $('#finalresult').show();
            $('#finalresult').text("You are Extremly Recommended for Bussiness");
        }
        else if (totalsum >= 70 & totalsum <= 75) {
            $(".keytwo").css("background-color", "yellow");
            $('#finalresult').show();
            $('#finalresult').text("You are Highly Recommended for Bussiness");
        }
        else if (totalsum >= 60 & totalsum <= 69) {
            $(".keythree").css("background-color", "yellow");
            $('#finalresult').show();
            $('#finalresult').text("You are Recommended for Bussiness");
        }
        else if (totalsum >= 50 & totalsum <= 59) {
            $(".keyfour").css("background-color", "yellow");
            $('#finalresult').show();
            $('#finalresult').text("Recommended for Bussiness");
        }
        else if (totalsum >= 40 & totalsum <= 49) {
            $(".keysix").css("background-color", "Red");
            $('#finalresult').show();
            $('#finalresult').text("Need Improvment for Bussiness");
        }
        else if (totalsum >= 0 & totalsum <= 39) {
            $(".keyfive").css("background-color", "Red");
            $('#finalresult').show();
            $('#finalresult').text("You are not Recommended for Bussiness");
        }
        else {

        }
        
    }
</script>

