<!-- Start breadcrumb Area -->
<div class="rbt-breadcrumb-default ptb--50 ptb_md--50 ptb_sm--30 bg-gradient-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner text-center">
                    <h2 class="title">Signup</h2>
                    <ul class="page-list">
                        <li class="rbt-breadcrumb-item"><a href="index">Home</a></li>
                        <li>
                            <div class="icon-right"><i class="feather-chevron-right"></i></div>
                        </li>
                        <li class="rbt-breadcrumb-item active">Signup</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb Area -->


<div class="checkout_area bg-color-white" style="padding-top:30px; padding-bottom:50px;">
    <div class="container">
        <div class="row g-5 checkout-form">

            <div class="col-lg-8 offset-lg-2">
                <div class="checkout-content-wrapper">

                    <!-- Billing Address -->
                    <div id="billing-form">

                        <div class="row g-5">
                            <div class="col-md-6 col-12">
                                <label>नाम*</label>
                                <input type="text" placeholder="आपका नाम लिखे ">
                            </div>

                            <div class="col-md-6 col-12">
                                <label>पिता का नाम*</label>
                                <input type="text" placeholder="पिता का नाम लिखे">
                            </div>

                            <div class="col-md-6 col-12">
                                <label>जिला *</label>
                                <input type="text" placeholder="आपका जिला लिखे">
                            </div>

                            <div class="col-md-6 col-12">
                                <label>राज्य *</label>
                                <input type="text" placeholder="आपका राज्य लिखे">
                            </div>

                            <div class="col-md-6 col-12">
                                <label>मोबाइल नंबर *</label>
                                <input type="text" placeholder="मोबाइल नंबर दर्ज करे ">
                            </div>



                            <div class="plceholder-button mt--50">
                                <button class="rbt-btn btn-gradient hover-icon-reverse">
                                    <a href="#" style="color:#fff;">
                                        <span class="icon-reverse-wrapper">
                                            <span class="btn-text">Signup</span>
                                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        </span>
                                    </a>
                                </button>
                            </div>
                        </div>

                    </div>



                </div>
            </div>


        </div>
    </div>
</div>

<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>


