<!-- Start breadcrumb Area -->
<div class="rbt-breadcrumb-default ptb--50 ptb_md--50 ptb_sm--30 bg-gradient-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner text-center">
                    <h2 class="title">Vit Kund Gaon Part 1</h2>
                    <ul class="page-list">
                        <li class="rbt-breadcrumb-item"><a href="index">Home</a></li>
                        <li>
                            <div class="icon-right"><i class="feather-chevron-right"></i></div>
                        </li>
                        <li class="rbt-breadcrumb-item active">Vit Kund Gaon Part 1</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb Area -->


<div class="checkout_area bg-color-white" style="padding-top:30px; padding-bottom:50px;">
    <div class="container">
        <div class="row g-5 checkout-form">

            <div class="col-lg-8 offset-lg-2">
                <div class="checkout-content-wrapper">

                    <!-- Billing Address -->
                    <div id="billing-form">

                        <div class="row g-5">
                            <div class="col-md-6 col-12">
                                <label>Age*</label>
                                <input type="text" placeholder="Your Age">
                            </div>
                            <div class="col-md-6 col-12">
                                <label>Type of Firm*</label>
                                <div class="rbt-modern-select bg-transparent height-45">
                                    <select class="w-100">
                                        <option> -- Select --</option>
                                        <option>Sole Proprietorship</option>
                                        <option>Partnerships</option>
                                        <option>Company</option>
                                        <option>One Person Company</option>
                                        <option>Unregistered</option>
                                    </select>
                                </div>

                            </div>

                            <div class="col-md-6 col-12">
                                <label>Education*</label>
                                <div class="rbt-modern-select bg-transparent height-45">
                                    <select class="w-100">
                                        <option> -- Select --</option>
                                        <option>10th</option>
                                        <option>12th</option>
                                        <option>Graduate</option>
                                        <option>Post Graduate</option>
                                        <option>Bussiness Related Education</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6 col-12">
                                <label>Profit Percentage*</label>
                                <div class="rbt-modern-select bg-transparent height-45">
                                    <select class="w-100">
                                        <option> -- Select --</option>
                                        <option><= 5%</option>
                                        <option>6 to 10%</option>
                                        <option>11 to 20%</option>
                                        <option>21 to 35%</option>
                                        <option> > 35%</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6 col-12">
                                <label>Experience*</label>
                                <div class="rbt-modern-select bg-transparent height-45">
                                    <select class="w-100">
                                        <option> -- Select --</option>
                                        <option><=1 Year</option>
                                        <option>1 to 3 Year</option>
                                        <option>3 to 5 Year</option>
                                        <option> > 5 Year</option>
                                        <option> > 7 Year/Related</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6 col-12">
                                <label>Premises*</label>
                                <div class="rbt-modern-select bg-transparent height-45">
                                    <select class="w-100">
                                        <option> -- Select --</option>
                                        <option>On Rent</option>
                                        <option>On Lease</option>
                                        <option>Trust/Society Property</option>
                                        <option>Property</option>
                                        <option>Own Property</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <label>Capital </label>
                                <div class="rbt-modern-select bg-transparent height-45">
                                    <select class="w-100">
                                        <option> -- Select --</option>
                                        <option> <= 10%</option>
                                        <option>11 to 25%</option>
                                        <option>26 to 40%</option>
                                        <option>41 to 60%</option>
                                        <option> >60%</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <label>Raw Material & Labour Etc. Availability</label>
                                <div class="rbt-modern-select bg-transparent height-45">
                                    <select class="w-100">
                                        <option> -- Select --</option>
                                        <option> >251 KM</option>
                                        <option>151 to 250KM</option>
                                        <option>101 to 150KM</option>
                                        <option>51 to 100KM</option>
                                        <option> Less then 50KM</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <label>Research & Development </label>
                                <div class="rbt-modern-select bg-transparent height-45">
                                    <select class="w-100">
                                        <option> -- Select --</option>
                                        <option><=1 Year</option>
                                        <option>1 to 3 Year</option>
                                        <option>3 to 5 Year</option>
                                        <option> > 5 Year</option>
                                        <option> > 7 Year/Related</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-md-6 col-12">
                                <label>Marketing & Product Selling</label>
                                <div class="rbt-modern-select bg-transparent height-45">
                                    <select class="w-100">
                                        <option> -- Select --</option>
                                        <option> Untrained Worker</option>
                                        <option>Through Social Media</option>
                                        <option>Through Trained & Skilled Workers</option>
                                        <option> Responsibility of partner or Manager</option>
                                        <option> Own Responsibility</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6 col-12">
                                <label>Cibil Score</label>
                                <div class="rbt-modern-select bg-transparent height-45">
                                    <select class="w-100">
                                        <option> -- Select --</option>
                                        <option> >= 800 </option>
                                        <option> > 775 to 799</option>
                                        <option> > 750 to 774</option>
                                        <option> > 715 to 749</option>
                                        <option> < 714 </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6 col-12">
                                <label>Business Expertise</label>
                                <div class="rbt-modern-select bg-transparent height-45">
                                    <select class="w-100">
                                        <option> -- Select --</option>
                                        <option> Self Skilled </option>
                                        <option> Partner or Manager Specialist</option>
                                        <option> Worker & Labour Specialist</option>
                                        <option> Semi-trained Staff & Owners</option>
                                        <option> Untrained Staff & Owners </option>
                                    </select>
                                </div>
                            </div>

                            <div class="plceholder-button mt--50">
                                <button class="rbt-btn btn-gradient hover-icon-reverse">
                                    <a href="multiple-choice" style="color:#fff;">
                                        <span class="icon-reverse-wrapper">
                                            <span class="btn-text">Next</span>
                                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        </span>
                                    </a>
                                </button>
                            </div>
                        </div>

                    </div>



                </div>
            </div>


        </div>
    </div>
</div>

<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>

